:root {
    --transition-duration: 0.2s;
    --transition-delay: 0.2s;
}

/*Botón footer de todas las secciones*/
.card-footer-primary {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.menu a {
    position: relative;
    display: block;
    padding: 20px;
}

a {
    /*color: black;*/
    text-decoration: none;
}


ul {
    list-style: none;
}

.menu .border {
    position: absolute;
    left: 0;
    /*background: currentColor;*/
    /*color: red;*/
    border: 2px solid black;
    /*border-radius: .75rem;*/
}

.menu .border-top,
.menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
    top: 0;
}

.menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.menu .border-top {
    transform-origin: top left;
}

.menu .border-left {
    transform-origin: bottom left;
}

.menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}




.menu .border {
    transition: transform var(--transition-duration) ease-in-out;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
    transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
    transform: scaleY(1);
}

.menu a:hover .border-right {
    transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
    transition-delay: var(--transition-delay * 2);
}

.menu a:hover .border-left {
    transition-delay: var(--transition-delay * 2);
}



/*FORMATO ANTIGUO DE LOS BOTONES*/
.btn-ver-recientes {
    color: #fff;
    background-color: var(--colorGlobal);
    /* border-color: #0d6efd;*/
    /*text-decoration: none;*/
    padding: 20px;
    /*border-radius: .75rem;*/
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

    .btn-ver-recientes:hover {
        /*padding: 15px;*/
        /*font-size: 20px;*/
        /*font-size: 20px;*/
        /*color: black;*/
        background-color: #33a3f7;
    }
