:root {
    --transition-duration: 0.2s;
    --transition-delay: 0.2s;
}

/*Footers de la ssecciones*/
/*Botón footer de las secciones ver proyectos y ver cv*/
.card-footer-primary {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/*Diseño de los botones ver todos los proyectos y cv los (a)*/
.btn-secciones {
    position: relative;
    display: block;
    /*Color de texto*/
    color: #fff;
    /*Color de fondo y toma el valor de nuestra variable global*/
    background-color: var(--colorGlobal);
    
    /*    pad padding-right: 78px;
    padding-left: 78px;*/
    border-radius: 6px;
}

/*Padding personalizado para btn perfil*/
.btn-pdd-perfil {
    padding: 20px 78px 20px 78px;
}

/*Padding personalizado para btn recientes*/
.btn-pdd-recientes {
    padding: 20px;
}
/*.menu a {
    position: relative;
    display: block;
    padding: 20px;
}*/
a {
    /*color: black;*/
    text-decoration: none;
}


ul {
    list-style: none;
}

.menu .border {
    position: absolute;
    left: 0;
    /*background: currentColor;*/
    /*color: red;*/
    border: 2px solid black;
    /*border-radius: .75rem;*/
    border-radius: 6px;
}

.menu .border-top,
.menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
    top: 0;
}

.menu .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.menu .border-top {
    transform-origin: top left;
}

.menu .border-left {
    transform-origin: bottom left;
}

.menu .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}




.menu .border {
    transition: transform var(--transition-duration) ease-in-out;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
    transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
    transform: scaleY(1);
}

.menu a:hover .border-right {
    transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
    transition-delay: var(--transition-delay * 2);
}

.menu a:hover .border-left {
    transition-delay: var(--transition-delay * 2);
}
