:root {
    --colorGlobal: #0d6efd;
    --blanco: #fff;
}

/*Título de la sección Contacto*/
.card-title {
    color: var(--colorGlobal);
}

.chat-grup {
    width: 350px;
}

.text {
    font-size: 1em;
}

.alert {
    text-align: justify;
    letter-spacing: 1.5px;
}

/*#region GRACIAS */
.img-gracias {
    width: 450px;
}

@media only screen and (min-width : 1224px) {
    /*Texto con animación de parpadeo de la sección Gracias*/
    .texto-parpadear {
        text-align: center;
        color: var(--colorGlobal);
        text-transform: uppercase;
        animation: parpadear 2.5s ease-out infinite;
        text-shadow: 0px 0px 5px var(--blanco), 0px 0px 7px var(--blanco);
    }

    /*Animación del texto parpadar*/
    @keyframes parpadear {
        from {
            text-shadow: 0px 0px 10px var(--blanco), 0px 0px 10px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 25px var(--blanco), 0px 0px 50px var(--blanco), 0px 0px 50px var(--blanco), 0px 0px 50px var(--colorGlobal), 0px 0px 150px var(--colorGlobal), 0px 10px 100px var(--colorGlobal), 0px 10px 100px var(--colorGlobal), 0px 10px 100px var(--colorGlobal), 0px 10px 100px var(--colorGlobal), 0px -10px 100px var(--colorGlobal), 0px -10px 100px var(--colorGlobal);
        }
    }
}
/*#endregion */