/*Toda la página*/

:root {
    --colorGlobalCV: #0d6efd;
    --celestesimple: #4e91f5;
    --blanco: white;
}

/*Se aplica o todo el documento*/
* {
    /*background-color: #2B2A33;*/
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: #2B2A33;
    padding: 40px;
    padding-top: 10px;
}

.cv-estructura {
    margin: 10px 180px;
    background-color: var(--blanco);
    padding: 40px;
}

/*Nombre*/
.titulo {
    font-weight: 600;
    color: var(--colorGlobalCV);
    /*background-color: var(--colorGlobalCV);*/
    font-size: 50px;
    /*margin-bottom: 5px;*/
}

/*Ocupación/Profesion*/
.subtitulo {
    font-weight: 600;
    font-size: 25px;
    /*Color de subtitulo*/
    margin-bottom: 22px;
}

/*Sección o cuadro de contacto*/
.contacto {
    margin: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    border: 6px solid var(--colorGlobalCV);
    padding: 10px;
    font-size: 17px;
    /*position: center;*/
    /*margin-left: 10%;*/
}

/*Mantener centrados los elementos de contacto*/
.phone, .gmail, .github {
    font-weight: 500;
    margin: auto;
    color: var(--colorGlobalCV);
    text-decoration: none;
    /*display: flex;
    align-content: end;
    align-items: end; */
}

/*.parent_class {
    background: gray;
    width: 100px;
    height: 100px;
}
*/
/*
    .phone:hover {
        --color: #0DC143;
    }

    .gmail:hover {
        --color: #ea0101;
    }

    .github:hover {
        --color: #a06ed9;
    }

.contacto{
    border: 6px solid var(--color);
}
*/

/*Color para correo*/
.hover_class_style1 {
    border: 6px solid #ea0101;
    /*background: blue;*/
}

/*Color para github*/
.hover_class_style2 {
    border: 6px solid #a06ed9;
    /*background: blue;*/
}

/*Color para teléfono*/
.hover_class_style3 {
    border: 6px solid #0DC143;
    /*background: blue;*/
}

/*.hover_class_style2 {
    border: 4px solid purple;*/
/*background: blue;*/
/*}

.hover_class_style3 {
    border: 4px solid green;*/
/*background: blue;*/
/*}*/

/*.child_class {*/
/* Propiedades */
/*}*/

/*.contacto .github:hover .contacto {
            border: 4px solid purple;
        }
*/
/*.contacto:has(.gmail:hover) {*/
/* Propiedades */
/*border: 4px solid purple;
}*/

/*Descripción o perfil*/
.descripcion-perfil {
    /*font-weight: 100;*/
    margin: 1.5rem 0 1.5rem 0;
    /*Justificar el texto*/
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}

/*Bloque de diseño*/
/*.bloque-izquierdo-1 {
    background: gray;
    width: 20px;
    height: 100px;
    border-top: 0;
    
}*/

.titulo-seccion {
    font-size: 25px;
    font-weight: 600;
    color: var(--colorGlobalCV);
    /*padding-top: 1rem;*/
    padding-top: 1rem;
}

/*Sección experiencia*/
/*.seccion-expreriencia {*/
/*margin-top: 1rem;*/
/*margin-left: 2rem;*/
/*}*/

.seccion-expreriencia {
    margin-bottom: 30px;    
}

/*Mantener en la misma linea titulo y fechas*/
.titulo-exp {
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    font-weight: 600;
}

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.fechas {
    /*16px cambia según el tamaño del texto */
    margin: 0px 0 0 auto;
}

.subtitulo-exp {
    margin-bottom: 8px;
    color: grey;
    font-weight: 600;
}

.descripcion-exp {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
    /*margin: auto 40px 0 40px;*/
}

/*Formato para todos los Unorder List y los elementos dentro*/
ul {
    font-weight: 100;
    margin-top: 0px;
    list-style: none; /*Quitamos los marcadores */
    padding: 0; /*Quitamos el padding por defecto de la lista */
    /*margin-left: 20px;*/ /*Separamos la lista de la izquierda */
}

li::before { /*Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /*Insertamos el marcador */
    font-size: 20px;
    padding-right: 8px; /*Establecemos el espacio entre las viñetas y el list item */
    color: var(--colorGlobalCV); /*Coloreamos la viñeta */
}


/*Sección educación*/
.seccion-educacion {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    /*Educación 1*/
    .seccion-educacion .edu-d-1 {
        /*margin-bottom: 2rem;*/
    }

.seccion-cursos {
    margin-bottom: 2rem;
    
}

    .seccion-cursos ul {
        font-weight: 500;
        line-height: 10px;
        /*word-wrap: normal;*/
        /*word-spacing: 5px;*/
    }

/*Sección tecnologías*/
.seccion-tecnologias {
    margin-top: 1rem;
}
/*Para dividir las tecnologias en columnas*/
.texto-columnas {
    margin: 0 auto 0 20%;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    /*Hace un diseño como de borde en la columna*/
    column-rule: 4px none gray;
    /*Para integrar a navegadores Chrome y Safari*/
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    /*-webkit-column-rule: 4px double black;*/
    /*Para integrar a Firefox*/
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    /*-moz-column-rule: 4px double black;*/
    /*Para integrar a Opera*/
    -o-column-count: 2;
    -o-column-gap: 20px;
    /*-o-column-rule: 4px double black;*/
    /*Para integrar a Interner Explorer (Edge)*/
    -ms-column-count: 2;
    -ms-column-gap: 20px;
    /*-ms-column-rule: 4px double black;*/
    /*vertical-align: central;*/
    /*Hace un diseño como de borde en la columna*/
    /*column-rule: 4px dotted gray;*/
}

/*Formato para todos los encabezados del h1 a h6*/
/*h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}*/

/*Formato diferente para todos los h5*/
/*h5 {
    font-weight: bold;
    color: var(--colorGlobalCV);
    font-size: 20px;
    margin-bottom: 20px;
}
*/

/*Formato para todos los parráfos*/
/*p {
    font-weight: bolder;*/
/*Por orden de dependencia todos los elemetos p obedecen este color*/
/*color: black;*/
/*}*/



/*Modal*/
/*.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido-modal {
    margin: auto;
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 10px;
}*/

/*Botón cerrar(id)*/
/*#cerrar {
    display: none;
}

#btn-cerrar {
    padding-left: 20px;
}*/

/*Botón cerrar se va a aplicar con el label VERIFICAR*/
/*#cerrar + label {
    position: absolute;
    color: #fff;
    font-size: 25px;
    z-index: 60;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    right: 320px;
    top: 210px;
    cursor: pointer;
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }*/

/*En pantallas menores de 650px*/
/*@media screen and (max-width: 650px) {
    
}*/

/* cuando sea como maximo 450, es decir menor */
@media screen and (max-width: 910px) {

    /*Cambiar padding del contenedor*/
    .container {
        background-color: var(--blanco);
        padding: 0px;
    }

    /*Cambiar los márgenes*/
    .cv-estructura {
        margin: 10px 20px;
        padding: 20px 20px;
    }

    /*Cambiar el borde y cambiar la propiedad de flex a block*/
    .contacto {
        margin: 0;
        border: 4px solid var(--colorGlobalCV);
        display: block;
        /*padding: 10px;*/
    }

    /*Quitar los márgenes*/
    .gmail, .github, .phone {
        margin: 10px;
    }

    .texto-columnas {
        margin-left: 35.35px;
    }

    /*Color para correo*/
    .hover_class_style1 {
        border: 4px solid #ea0101;
        /*  background: blue;*/
    }

    /*Color para github*/
    .hover_class_style2 {
        border: 4px solid #a06ed9;
        /*background: blue;*/
    }

    /*Color para teléfono*/
    .hover_class_style3 {
        border: 4px solid #0DC143;
        /*background: blue;*/
    }
}


/* cuando sea como minimo 451, es decir mayor */
/*@media screen and (min-width:451px) {*/

/*Cambiar padding del contenedor*/
/*.container {
        background-color: white;
        padding: 0px;
    }*/

/*Cambiar los márgenes*/
/*.cv-estructura {
        margin: 10px 20px;
        padding: 20px 20px;
    }*/

/*Cambiar el borde y cambiar la propiedad de flex a block*/
/*.contacto {
        border: 4px solid dodgerblue;
        display: block;*/
/*padding: 10px;*/
/*}*/

/*Quitar los márgenes*/
/*.gmail, .github, .phone {
        margin: 60px;
    }

    .texto-columnas {
        margin-left: 25%;
    }
}*/
