/*Toda la página*/
.cv-estructura {
    margin: 20px 160px;
}

/*Nombre*/
.titulo {
    font-weight: 900;
    color: dodgerblue;
    font-size: 30px;
    margin-bottom: 5px;
}

/*Ocupación*/
.subtitulo {
    font-weight: 700;
    margin-bottom: 20px;
}

/*Sección o cuadro de contacto*/
.contacto {
    display: flex;
    align-content: center;
    align-items: center;
    border: 6px solid dodgerblue;
    padding: 10px;
    /*position: center;*/
    /*margin-left: 10%;*/
}

    /*Mantener centrados los elementos de contacto*/
    .phone, .gmail, .github {
        font-weight: 300;
        margin: auto;
        color: #2681e4;
        /*display: flex;
    align-content: end;
    align-items: end; */
    }

/*.parent_class {
    background: gray;
    width: 100px;
    height: 100px;
}
*/

/*Color para correo*/
.hover_class_style1 {
    border: 6px solid #ea0101;
    /*  background: blue;*/
}

/*Color para github*/
.hover_class_style2 {
    border: 6px solid #a06ed9;
    /*background: blue;*/
}

/*Color para teléfono*/
.hover_class_style3 {
    border: 6px solid #0DC143;
    /*background: blue;*/
}

/*.hover_class_style2 {
    border: 4px solid purple;*/
/*background: blue;*/
/*}

.hover_class_style3 {
    border: 4px solid green;*/
/*background: blue;*/
/*}*/

/*.child_class {*/
    /* Propiedades */
/*}*/


/*.contacto .github:hover .contacto {
            border: 4px solid purple;
        }
*/
/*.contacto:has(.gmail:hover) {*/
/* Propiedades */
/*border: 4px solid purple;
}*/


/*Descripción o perfil*/
.descripcion-perfil {
    font-weight: 100;
    margin: 1.5rem 0 1.5rem 0;
}

/*Bloque de diseño*/
/*.bloque-izquierdo-1 {
    background: gray;
    width: 20px;
    height: 100px;
    border-top: 0;
    
}*/

/*Sección experiencia*/
.seccion-expreriencia {
    margin-top: 1rem;
    /*margin-left: 2rem;*/
}

/*Mantener en la misma linea titulo y fechas*/
.titulo-exp {
    display: flex;
}

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.fechas {
    /*16px cambia según el tamaño del texto */
    margin: 16px 0 0 auto;
}

/*Sección educación*/
.seccion-educacion {
    margin-top: 1rem;
}

    /*Educación 1*/
    .seccion-educacion .edu-d-1 {
        margin-bottom: 2rem;
    }

/*Sección tecnologías*/
.seccion-tecnologias {
    margin-top: 1rem;
}

/*Formato para todos los encabezados del h1 a h6*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

/*Formato diferente para todos los h5*/
h5 {
    font-weight: bold;
    color: dodgerblue;
    font-size: 20px;
    margin-bottom: 20px;
}

/*Formato para todos los parráfos*/
p {
    font-weight: bolder;
    color: black;
}

/*Formato para todos los Unorder List y los elementos dentro*/
ul {
    font-weight: 100;
    margin-top: 0px;
}

/*En pantallas menores de 650px*/
@media screen and (max-width: 650px) {
    /*Cambiar los márgenes*/
    .cv-estructura {
        margin: 10px 20px;
    }

    /*Cambiar el borde y cambiar la propiedad de flex a block*/
    .contacto {
        border: 4px solid dodgerblue;
        display: block;
        /*padding: 10px;*/
    }

    /*Quitar los márgenes*/
    .gmail, .github, .phone {
        margin: 10px;
    }

    /*.gmail {
        color: red;
        text-decoration: none;
    }

    .github {
        color: purple;
    }
    
    .phone {
        color: green;
    }*/
}
