/*Toda la página*/

:root {
    --colorGlobalCV: #0d6efd;
    --celestesimple: #4e91f5;
    --rojosimple: #e17f7f;
    --blanco: white;
}

/*Se aplica o todo el documento*/
* {
    /*background-color: #2B2A33;*/
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* The alert message box */
.alert {
    text-align: justify;
    padding: 20px;
    background-color: var(--colorGlobalCV); /* blue */
    color: white;
    opacity: 1;
    /*transition: opacity 0.9s;*/ /* 600ms to fade out */
    cursor: pointer;
    transition: opacity 0.3s;
    /*No tiene efecto ya que no esta posicionado*/
    /*z-index: 1090;*/
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    /*font-size: 22px;*/
    font-size: 1.375em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.1s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

/*Mantener en la misma linea titulo y fechas*/
.cont-nav {
    /*margin: 20px;*/
    padding-left: 30px;
    padding-top: 20px;
    padding: 20px 60px 0 30px;
    /*margin-bottom: 8px;*/
    display: flex;
    /*font-weight: 600;*/
}

.img-nav {
    fill: var(--blanco);
    opacity: 0.30;
}

    .img-nav:hover {
        opacity: 1;
    }

.texto-nav {
    padding-left: 10px;
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.30;
    cursor: default;
}

    .texto-nav:hover {
        opacity: 1;
    }

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.boton-descargar {
    /*16px cambia según el tamaño del texto */
    /*Actualmente para que se fije a la derecha*/
    margin: 0 0 0 auto;
    /*opacity: 1;*/
    padding: 8px;
    background-color: gray;
    border-radius: 8px;
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.30;
    /*padding-right: 30px;*/
}

    .boton-descargar:hover {
        opacity: 1;
    }

/*Diseño de la ventana modal*/
.modal {
    /*visibility: hidden;*/
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.ventana {
    text-align: center;
    border-radius: 8px;
    background-color: var(--blanco);
    width: 300px;
    padding: 10px 20px;
    margin: 30% auto;
    position: relative;
}

    .ventana .closebtn {
        color: var(--colorGlobalCV);
    }

        .ventana .closebtn:hover {
            color: black;
        }

    /*Titulo del formulario*/
    .ventana .titulo-modal {
        color: var(--colorGlobalCV);
        /*font-size: 25px;*/
        font-size: 1.5625em;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*Todo el dropdown y contenido*/
    .ventana .form-select {
        /*font-size: 16px;*/
        font-size: 1em;
        border: 1px solid var(--colorGlobalCV);
        border-radius: 6px;
        margin-bottom: 20px;
    }

        .ventana .form-select .opc-default {
            color: gray;
            /*background-color: green;*/
        }


    /*.ventana li {
        background-color: var(--blanco);
    }*/

    .ventana .botones {
        padding-bottom: 20px;
    }

    .ventana .btn-aceptar {
        /*display: inline;*/
        border: 0;
        /*text-decoration: underline;*/
        background-color: var(--colorGlobalCV);
        padding: 10px 40px;
        /*margin: 20px;*/
        border-radius: 10px;
        /*border-color: none;*/
        /*transform-style: inherit;*/
        color: var(--blanco);
        /*font-size: 18px;*/
        font-size: 1.125em;
        text-decoration: none;
    }

        .ventana .btn-aceptar:hover {
            background-color: var(--celestesimple)
        }

    .ventana .btn-cancelar {
        background-color: gray;
        padding: 10px 35px;
        /*margin: 20px;*/
        border-radius: 10px;
        /*border-color: none;*/
        /*transform-style: inherit;*/
        color: var(--blanco);
        /*font-size: 18px;*/
        font-size: 1.125em;
        text-decoration: none;
    }

        .ventana .btn-cancelar:hover {
            background-color: var(--rojosimple)
        }

/*.card-footer-primary {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
*/

#ventanaModal:target {
    opacity: 1;
    pointer-events: auto;
}


/*.opcion {*/ /*width: 100px;
        background-color:yellow;
border:1px solid black;*/
/*}*/
/*.contenedor-nav {
    display: flex;
    margin-top: 15px;*/
/*flex-wrap: inherit;*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*}

.barra-nav a {
    text-decoration: none;
    color: var(--blanco);
    margin: 0:
}

.texto-nav {
    font-size: 1rem;
}

.texto-nav svg {*/
/*margin-top: 40px;*/
/*fill: var(--blanco);
    
}*/
.container {
    background-color: #2B2A33;
    padding: 40px;
    padding-top: 10px;
}

.cv-estructura {
    margin: 10px 180px;
    background-color: var(--blanco);
    padding: 40px;
}

/*Nombre*/
.titulo {
    font-weight: 600;
    color: var(--colorGlobalCV);
    /*background-color: var(--colorGlobalCV);*/
    /*font-size: 50px;*/
    font-size: 3.125em;
    /*margin-bottom: 5px;*/
}

/*Ocupación/Profesion*/
.subtitulo {
    font-weight: 600;
    /*font-size: 25px;*/
    font-size: 1.5625em;
    /*Color de subtitulo*/
    margin-bottom: 22px;
}

/*.cont-contacto {
    font-size: 17px;
    font-weight: lighter;
}
*/
/*Sección o cuadro de contacto*/
.contacto {
    margin: 10px 20px;
    display: flex;
    align-content: center;
    align-items: center;
    border: 6px solid var(--colorGlobalCV);
    padding: 10px;
    /*font-size: 17px;*/
    font-size: 1.0625em;
    /*position: center;*/
    /*margin-left: 10%;*/
}

/*Mantener centrados los elementos de contacto*/
.linkedin, .phone, .mapa, .gmail, .github {
    font-weight: 500;
    margin: auto;
    color: var(--colorGlobalCV);
    text-decoration: none;
}

/*#region contacto colorear a traves de función JS*/

/*Color para linkedin*/
.hover_class_style0 {
    border: 6px solid #468bef;
}

/*Color para correo*/
.hover_class_style1 {
    border: 6px solid #ea0101;
}

/*Color para mapa*/
.hover_class_style2 {
    border: 6px solid #e5770d;
}

/*Color para teléfono*/
.hover_class_style3 {
    border: 6px solid #0DC143;
}

/*Color para github*/
.hover_class_style4 {
    border: 6px solid #a06ed9;
}
/*#region end*/



/*Descripción o perfil*/
.descripcion-perfil {
    /*font-weight: 100;*/
    margin: 1.5rem 0 1.5rem 0;
    /*Justificar el texto*/
    text-align: justify;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
}

/*Bloque de diseño*/
/*.bloque-izquierdo-1 {
    background: gray;
    width: 20px;
    height: 100px;
    border-top: 0;
    
}*/

.titulo-seccion {
    /*font-size: 25px;*/
    font-size: 1.5625em;
    font-weight: 600;
    color: var(--colorGlobalCV);
    /*padding-top: 1rem;*/
    padding-top: 1rem;
}

/*Sección experiencia*/
/*.seccion-expreriencia {*/
/*margin-top: 1rem;*/
/*margin-left: 2rem;*/
/*}*/

.seccion-expreriencia {
    margin-bottom: 30px;
}

/*Mantener en la misma linea titulo y fechas*/
.titulo-exp {
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    font-weight: 600;
}

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.fechas {
    /*16px cambia según el tamaño del texto */
    margin: 0px 0 0 auto;
}

.subtitulo-exp {
    margin-bottom: 8px;
    color: grey;
    font-weight: 600;
}

.descripcion-exp {
    text-align: justify;
    margin-bottom: 30px;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
    /*margin: auto 40px 0 40px;*/
}

/*Formato para todos los Unorder List y los elementos dentro*/
ul {
    font-weight: 100;
    margin-top: 0px;
    list-style: none; /*Quitamos los marcadores */
    padding: 0; /*Quitamos el padding por defecto de la lista */
    /*margin-left: 20px;*/ /*Separamos la lista de la izquierda */
}

li::before { /*Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /*Insertamos el marcador */
    /*font-size: 20px;*/
    font-size: 1.25em;
    padding-right: 8px; /*Establecemos el espacio entre las viñetas y el list item */
    color: var(--colorGlobalCV); /*Coloreamos la viñeta */
}


/*Sección educación*/
.seccion-educacion {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    .seccion-educacion ul {
        /*font-weight: 600;*/
        font-weight: normal;
        line-height: 1;
        /*font-size: 16px;*/
        font-size: 1em;
        /*word-wrap: normal;*/
        /*word-spacing: 5px;*/
    }

.seccion-cursos {
    margin-bottom: 2rem;
}

    .seccion-cursos ul {
        font-weight: normal;
        line-height: 0.80;
        /*word-wrap: normal;*/
        /*word-spacing: 5px;*/
    }

.seccion-idiomas {
    /*font-weight: lighter;*/
    font-weight: normal;
}

    .seccion-idiomas .negrita {
        font-weight: 600;
    }
/*Sección tecnologías*/
.seccion-tecnologias {
    margin-top: 1rem;
    /*font-weight: bold;*/
    font-weight: normal;
}

.tec {
    margin-bottom: 20px;
}
/*Para dividir las tecnologias en columnas*/
.texto-columnas {
    /*margin-top: 1rem;*/
    /*font-size: 16px;*/
    font-size: 1em;
    margin: 20px auto 0 22%;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    line-height: 1.3;
    /*Hace un diseño como de borde en la columna*/
    column-rule: 4px none gray;
    /*Para integrar a navegadores Chrome y Safari*/
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    /*-webkit-column-rule: 4px double black;*/
    /*Para integrar a Firefox*/
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    /*-moz-column-rule: 4px double black;*/
    /*Para integrar a Opera*/
    -o-column-count: 2;
    -o-column-gap: 20px;
    /*-o-column-rule: 4px double black;*/
    /*Para integrar a Interner Explorer (Edge)*/
    -ms-column-count: 2;
    -ms-column-gap: 20px;
    /*-ms-column-rule: 4px double black;*/
    /*vertical-align: central;*/
    /*Hace un diseño como de borde en la columna*/
    /*column-rule: 4px dotted gray;*/
}

.btn-regresar-min {
    visibility: hidden;
    right: 10px;
    top: 6px;
    padding: 10px;
    opacity: 0.5;
    z-index: 1050;
}

    .btn-regresar-min:hover {
        opacity: 1;
        font-weight: 600;
    }

    .btn-regresar-min .cont-regresar {
        text-decoration: none;
        color: var(--colorGlobalCV);
        cursor: default;
        font-size: 1.4em;
    }

        .btn-regresar-min .cont-regresar:hover {
            font-size: 1.4em;
        }

.btn-descargar-cv {
    visibility: hidden;
}


/* cuando sea como maximo 450, es decir menor */
@media screen and (max-width: 810px) {

    /*Cambiar padding del contenedor*/
    .container {
        background-color: var(--blanco);
        padding: 0px;
    }

    /*Cambiar los márgenes*/
    .cv-estructura {
        margin: 10px 20px;
        padding: 20px 20px;
    }

    .cont-nav {
        /*visibility: hidden;*/
        display: none;
    }

    .btn-regresar-min {
        visibility: visible;
    }

    /*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
    .btn-descargar-cv {
        visibility: visible;
        position: fixed;
        bottom: 40px;
        /*top: 40px;*/
        right: 40px;
        padding: 10px;
        border-radius: 8px;
        /*width: 64px;*/
        /*height: 64px;*/
        background-color: var(--colorGlobalCV);
        opacity: 0.5;
    }

        .btn-descargar-cv:hover {
            opacity: 1;
        }

    .btn-a {
        text-decoration: none;
        color: var(--blanco);
    }

    .ventana {
        /*text-align: center;*/
        /*border-radius: 8px;*/
        /*background-color: var(--blanco);*/
        /*width: 300px;*/
        /*padding: 10px 20px;*/
        margin: 90% auto;
        /*position: relative;*/
    }

        /*   .ventana .closebtn {
            color: var(--colorGlobalCV);
        }*/

        /*   .ventana .closebtn:hover {
                color: black;
            }
*/
        /*Titulo del formulario*/
        .ventana .titulo-modal {
            color: var(--colorGlobalCV);
            /*font-size: 22px;*/
            font-size: 1.375em;
            font-weight: bolder;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /*Todo el dropdown y contenido*/
        .ventana .form-select {
            /*font-size: 14px;*/
            font-size: 0.875em;
            border: 1px solid var(--colorGlobalCV);
            border-radius: 6px;
            margin-bottom: 20px;
        }

        /*.ventana .form-select .opc-default {*/
        /*fill: red;*/
        /*background-color: green;*/
        /*}*/


        /*.ventana li {
        background-color: var(--blanco);
    }*/
        .ventana .btn-aceptar {
            /*background-color: var(--colorGlobalCV);*/
            padding: 10px 30px;
            /*margin: 20px;*/
            /*border-radius: 10px;*/
            /*border-color: none;*/
            /*transform-style: inherit;*/
            /*color: var(--blanco)*/
            /*font-size: 16px;*/
            font-size: 1em;
        }

        /*            .ventana .btn-aceptar:hover {
                background-color: var(--celestesimple)
            }
*/
        .ventana .btn-cancelar {
            /*background-color: var(--colorGlobalCV);*/
            padding: 10px 20px;
            /*margin: 20px;*/
            /*border-radius: 10px;*/
            /*border-color: none;*/
            /*transform-style: inherit;*/
            /*color: var(--blanco)*/
            /*font-size: 16px;*/
            font-size: 1em;
        }


    /*Cambiar el borde y cambiar la propiedad de flex a block*/
    .contacto {
        margin: 0;
        border: 4px solid var(--colorGlobalCV);
        display: block;
        /*padding: 10px;*/
    }

    /*Quitar los márgenes*/
    .gmail, .github, .phone {
        margin: 10px;
    }

    /*  .texto-columnas {
        margin-left: 35.35px;
    }*/

    /*Para dividir las tecnologias en columnas*/
    .texto-columnas {
        /*margin-top: 1rem;*/
        /*font-size: 16px;*/
        margin: 20px auto 0 14%;
    }
}
