/*Toda la página*/

:root {
    --colorGlobalCV: #0d6efd;
    --celestesimple: #4e91f5;
    --rojosimple: #e17f7f;
    --blanco: white;
}

/*Se aplica o todo el documento*/
* {
    /*background-color: #2B2A33;*/
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* The alert message box */
.alert-cv {   
    text-align: justify;
    padding: 20px;
    background-color: var(--colorGlobalCV); /* blue */
    color: white;    
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    /*No tiene efecto ya que no esta posicionado*/
    /*z-index: 1090;*/
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    /*font-size: 22px;*/
    font-size: 1.375em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.1s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

/*Mantener en la misma linea titulo y fechas*/
.cont-nav {
    padding-left: 30px;
    padding-top: 20px;
    padding: 20px 60px 0 30px;
    display: flex;
}

.img-nav {
    fill: var(--blanco);
    opacity: 0.30;
}

    .img-nav:hover {
        opacity: 1;
    }

.texto-nav {
    padding-left: 10px;
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.30;
    cursor:default;
}

    .texto-nav:hover {
        opacity: 1;
    }

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.boton-descargar {
    /*16px cambia según el tamaño del texto */
    /*Actualmente para que se fije a la derecha*/
    margin: 0 0 0 auto;
    padding: 8px;
    background-color: gray;
    border-radius: 8px;
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.30;
}

    .boton-descargar:hover {
        opacity: 1;
    }

/*Diseño de la ventana modal*/
.modal {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;

}

.ventana {
    text-align: center;
    border-radius: 8px;
    background-color: var(--blanco);
    width: 300px;
    padding: 10px 20px;
    margin: 30% auto;
    position: relative;
}

    .ventana .closebtn {
        color: var(--colorGlobalCV);
    }

        .ventana .closebtn:hover {
            color: black;
        }

    /*Titulo del formulario*/
    .ventana .titulo-modal {
        color: var(--colorGlobalCV);
        /*font-size: 25px;*/
        font-size: 1.5625em;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*Todo el dropdown y contenido*/
    .ventana .form-select {
        /*font-size: 16px;*/
        font-size: 1em;
        border: 1px solid var(--colorGlobalCV);
        border-radius: 6px;
        margin-bottom: 20px;
    }

        .ventana .form-select .opc-default {
            color: gray;
        }

    .ventana .botones {
        padding-bottom: 20px;
    }

    .ventana .btn-aceptar {
        border: 0;
        /*text-decoration: underline;*/
        background-color: var(--colorGlobalCV);
        padding: 10px 40px;
        border-radius: 10px;
        color: var(--blanco);
        /*font-size: 18px;*/
        font-size: 1.125em;
        text-decoration: none;
    }

        .ventana .btn-aceptar:hover {
            background-color: var(--celestesimple)
        }

    .ventana .btn-cancelar {
        background-color: gray;
        padding: 10px 35px;
        border-radius: 10px;
        color: var(--blanco);
        /*font-size: 18px;*/
        font-size: 1.125em;
        text-decoration: none;
    }

        .ventana .btn-cancelar:hover {
            background-color: var(--rojosimple)
        }

#ventanaModal:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 2500;
}

.container {
    background-color: #2B2A33;
    padding: 40px;
    padding-top: 10px;
}

.cv-estructura {
    margin: 10px 180px;
    background-color: var(--blanco);
    padding: 40px;
}

/*Nombre*/
.titulo {
    font-weight: 600;
    color: var(--colorGlobalCV);
    font-size: 3.125em;
}

/*Ocupación/Profesion*/
.subtitulo {
    font-weight: 600;
    /*font-size: 25px;*/
    font-size: 1.5625em;
    /*Color de subtitulo*/
    margin-bottom: 22px;
}

/*Sección o cuadro de contacto*/
.contacto {
    margin: 10px 20px;
    display: flex;
    align-content: center;
    align-items: center;
    border: 6px solid var(--colorGlobalCV);
    padding: 10px;
    /*font-size: 17px;*/
    font-size: 1.0625em;
}

/*Mantener centrados los elementos de contacto*/
.linkedin, .phone, .mapa, .gmail, .github {
    font-weight: 500;
    margin: auto;
    color: var(--colorGlobalCV);
    text-decoration: none;
}

/*Color para linkedin*/
.hover_class_style0 {
    border: 6px solid #468bef;
}

/*Color para correo*/
.hover_class_style1 {
    border: 6px solid #ea0101;
}

/*Color para mapa*/
.hover_class_style2 {
    border: 6px solid #e5770d;
}

/*Color para teléfono*/
.hover_class_style3 {
    border: 6px solid #0DC143;
}

/*Color para github*/
.hover_class_style4 {
    border: 6px solid #a06ed9;
}

/*Descripción o perfil*/
.descripcion-perfil {
    margin: 1.5rem 0 1.5rem 0;
    /*Justificar el texto*/
    text-align: justify;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
}


.titulo-seccion {
    /*font-size: 25px;*/
    font-size: 1.5625em;
    font-weight: 600;
    color: var(--colorGlobalCV);
    padding-top: 1rem;
}

.seccion-expreriencia {
    margin-bottom: 30px;
}

/*Mantener en la misma linea titulo y fechas*/
.titulo-exp {
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    font-weight: 600;
}

/*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
.fechas {
    /*16px cambia según el tamaño del texto */
    margin: 0px 0 0 auto;
}

.subtitulo-exp {
    margin-bottom: 8px;
    color: grey;
    font-weight: 600;
}

.descripcion-exp {
    text-align: justify;
    margin-bottom: 30px;
    /*font-size: 16px;*/
    font-size: 1em;
    line-height: 1.6;
}

/*Formato para todos los Unorder List y los elementos dentro*/
ul {
    /*font-weight: 100;*/
    margin-top: 0px;
    list-style: none; /*Quitamos los marcadores */
    padding: 0; /*Quitamos el padding por defecto de la lista */
    /*margin-left: 20px;*/ /*Separamos la lista de la izquierda */
}

li::before { /*Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /*Insertamos el marcador */
    /*font-size: 20px;*/
    font-size: 1.25em;
    padding-right: 8px; /*Establecemos el espacio entre las viñetas y el list item */
    color: var(--colorGlobalCV); /*Coloreamos la viñeta */
}

/*Sección educación*/
.seccion-educacion {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    .seccion-educacion ul {
        font-weight: normal;
        line-height: 1;
        /*font-size: 16px;*/
        font-size: 1em;
    }

.seccion-cursos {
    margin-bottom: 2rem;
}

    .seccion-cursos ul {
        font-weight: normal;
        line-height: 0.80;
    }

/*.seccion-idiomas {
    font-weight: normal;
}*/

    .seccion-idiomas .negrita {
        font-weight: 600;
    }

.normal-txt {
    font-weight: normal;
}


/*Sección tecnologías*/
.seccion-tecnologias {
    margin-top: 1rem;
    font-weight: normal;
}

.tec {
    margin-bottom: 20px;
}
/*Para dividir las tecnologias en columnas*/
.texto-columnas {
    font-size: 1em;
    margin: 20px auto 0 22%;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    line-height: 1.3;
    /*Hace un diseño como de borde en la columna*/
    column-rule: 4px none gray;
    /*Para integrar a navegadores Chrome y Safari*/
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -o-column-count: 2;
    -o-column-gap: 20px;
    -ms-column-count: 2;
    -ms-column-gap: 20px;
}

/*btn regresar en pantallas peques*/
.btn-regresar-min {
    visibility: hidden;
    display: flex;
    right: 10px;
    top: 6px;
    padding: 10px;
   /* opacity: 0.5;*/
    z-index: 1050;
}

/*    .btn-regresar-min:hover {
        opacity: 1;
        font-weight: 600;
    }*/

/*formato para el btn*/
    .btn-regresar-min .cont-regresar {
        text-decoration: none;
        color: var(--colorGlobalCV);
        cursor: default;
        font-size: 1.4em;
        opacity: 0.5;
    }

        .btn-regresar-min .cont-regresar:hover {
            opacity: 1;
            font-weight: 600;
        }
/*
    .btn-regresar-min .cont-regresar:hover {
        font-size: 1.4em;
    }*/

    .btn-descargar-cv {
        visibility: hidden;       
    }


/* cuando sea como maximo 450, es decir menor */
/*@media screen and (max-width: 810px) {*/

    /*Cambiar padding del contenedor*/
    /*.container {
        background-color: var(--blanco);
        padding: 0px;
    }*/

    /*Cambiar los márgenes*/
    /*.cv-estructura {
        margin: 10px 20px;
        padding: 20px 20px;
    }

    .cont-nav {*/
        /*visibility: hidden;*/
        /*display: none;
    }

    .btn-regresar-min {
        visibility: visible;
    }*/

    /*Para mostrar la fecha a la izquierda y centrada de titulo exp*/
    /*.btn-descargar-cv {
        visibility: visible;
        position: fixed;
        bottom: 40px;*/
        /*top: 40px;*/
        /*right: 40px;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--colorGlobalCV);
        opacity: 0.5;
    }

        .btn-descargar-cv:hover {
            opacity: 1;
        }

    .btn-a {
        text-decoration: none;
        color: var(--blanco);
    }

    .ventana {
        margin: 90% auto;
    }*/

        /*Titulo del formulario*/
        /*.ventana .titulo-modal {
            color: var(--colorGlobalCV);*/
            /*font-size: 22px;*/
            /*font-size: 1.375em;
            font-weight: bolder;
            margin-top: 20px;
            margin-bottom: 20px;
        }*/

        /*Todo el dropdown y contenido*/
        /*.ventana .form-select {*/
            /*font-size: 14px;*/
            /*font-size: 0.875em;
            border: 1px solid var(--colorGlobalCV);
            border-radius: 6px;
            margin-bottom: 20px;
        }

        .ventana .btn-aceptar {
            padding: 10px 30px;
            font-size: 1em;
        }

        .ventana .btn-cancelar {
            padding: 10px 20px;
            font-size: 1em;
        }*/


    /*Cambiar el borde y cambiar la propiedad de flex a block*/
    /*.contacto {
        margin: 0;
        border: 4px solid var(--colorGlobalCV);
        display: block;
    }*/

    /*Quitar los márgenes*/
    /*.gmail, .github, .phone {
        margin: 10px;
    }*/

    /*Para dividir las tecnologias en columnas*/
    /*.texto-columnas {*/
        /*font-size: 16px;*/
        /*margin: 20px auto 0 14%;
    }
}*/
