
/*#click-inicio{
    text-decoration: none;
}*/

/** {
    font-family: 'Francois One', sans-serif;
    font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Satisfy', cursive;*/
/*}*/

.typed-name {
    /*Color del cursor*/
    color: #0EA5E9;
    /*font-family: 'Francois One', sans-serif;*/
}
/*CÓDIGO CSS DE MI ANIMACIÓN ESCRITURA*/
.titulo {
    /*font-size: 90px;*/
    /*font-weight: bolder;*/
    margin-right: 50%;
    /*opacity: 1;*/
    margin-left: 20px;
    /*color del titulo*/
    color: #0EA5E9;
}

/*Textos*/
.name {
    color: white;
    /*font-weight: bold;*/
    font-style: normal;
    /*opacity: 100;*/
    /*color: #113CFC;*/
    /*text-shadow: 0 0 6px;   */
}

/*Mensajes*/
.msj {
    color: white;
    /*font-weight: bold;*/
    font-style: normal;
    font-size: 100px;
    /*   animation: parpadear 5s infinite backwards;
    transition: .2s ease-in-out all;*/
}

/*SE QUITO EL EFECTO DE ANIMACIÓN AL ÚLTIMO TEXTO*/

/*@keyframes parpadear {
    to {
        color: #0b36f7;
        text-shadow: 0 16px 24px;
    }
}*/
