/*CÓDIGO CSS DE MI ANIMACIÓN ESCRITURA*/
.titulo {
    margin-right: 50%;
    margin-left: 20px;
    color: var(--colorGlobal);
    font-size: 6.25em;
}

/*nombhre*/
.typed-name {
    /*Color del cursor*/
    color: var(--colorGlobal);
}

/*Textos*/
.name {
    color: white;
    font-style: normal;
}

/*Mensajes*/
.msj {
    color: white;
    font-style: normal;
}

