
.footer {
    /*Espacio entre el "Contactame" y el último secction*/
    padding-top: 5rem;
    /*Espacion entre el texto y las img de contacto*/
    line-height: 30px;
    /*Contenido centrado*/
    text-align: center;
    /*NO SE USA 👇*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%*/
    /*//#*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*position: absolute;*/
    /*background-color: #a6acaf;*/
}

    .footer .text-copy {
        /*Separa la linea de los iconos de contacto*/
        margin-block-start: 30px;
        /*Color de texto*/
        color: var(--colorGlobal);
        /*Efecto remarcado al texto*/
        text-shadow: 0 1px var(--colorGlobal), 0 1px var(--colorGlobal);
    }

    .footer .texto-gris {
        /*Color gris al texto*/
        color: grey;
        /*NO SE USA 👇*/
        /*margin-block-end: 50px;*/
    }


.img-linkedin, .img-correo, .img-whatsapp, .img-github {
    /*Espacios entre cada icono */
    margin: 20px;
    /*PARA CENTRAR LOS ICONOS (no precisamente)*/
    display: inline-block;
    /*text-align: center;*/
    /*Alto y acho de iconos*/
    width: 64px;
    height: 64px;
    /*NO SE USA 👇*/
    /*//#*/
    /*display: flex;*/
    /*padding: 0px 0px 0px 0px;*/
    /*margin-right: 50px;*/
    /*fill: currentColor;*/
    /*position: relative;*/
    /*color: #000;   */
    /*width ="64" height="64"*/
    /*display: contents;*/
    /*width: 200px;*/
    /*margin-right: 50px;*/
}

.img-center svg {
    /*Para indicarle que se va a usar flexbox*/
    display: flex;
    /*alinear el texto de forma vertical en los contenedores*/
    justify-content: center;
    /*Transición de tiempo para todas las propiedades*/
    transition: .1s ease-in-out;
    /*NO SE USA 👇*/
    /*padding: 0;*/
    /*   margin-bottom: 5rem;*/
    /*//#*/
    /*CON FLEXBOX*/
    /*Para que todos tengan el mismo tamaño*/
    /*flex: 1;*/
    /*alto*/
    /*height: 100%;*/
    /*Para que el texto se ponga en mayúscula*/
    /*text-transform: uppercase;*/
    /*alinear el texto de forma vertical*/
    /*align-items: center;*/
    /*Todo el contenido centrado al ocupar más de 2 lineas*/
    /*text-align: center;*/
    /*Colr*/
    /*color: #000;*/
    /*Texto con negritas fuerte*/
    /*font-weight: 500;*/
}

/*Color azul para linkedin*/
.img-linkedin svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #22A7F2;
}

/*Color rojo para gmail*/
.img-correo svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #ea0101;
}

/*Color verde para whatsapp*/
.img-whatsapp svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #0DC143;
}

/*Color morado para github*/
.img-github svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #5C2D91;
}

/*#endregion */

/*NO SE USA 👇*/
/*LO QUITE YA DESPUES DE LO DE LA LINEA*/
/*.footer .img-div {*/
/* altura*/
/*height: 70px;
    }*/


/*#region Media Querys */
/*Ayudan a mostrar las animaciones según el tamaño de la pantalla si es menor o mayor*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 500px) {
    /*NO SE USA 👇*/
    /*    .hero {
        
        padding-bottom: 0px;
    }*/

    /*.seccion {
        padding-top: 0%;
    }

        .seccion h1 {
            font-size: 32px;*/
    /*NO SE USA 👇*/
    /*margin-bottom: 20px;*/
    /*}

        .seccion p {
            line-height: 28px;
            font-size: 15px;
        }*/


    .img-linkedin, .img-correo, .img-whatsapp, .img-github {
        /*Espacios entre cada icono */
        margin: 20px;
        /*Alto y acho de iconos*/
        width: 42px;
        height: 42px;
    }



        /*Color azul para linkedin*/
        .img-linkedin svg:hover {
            /*height: 100%;*/
            width: 64px;
            height: 64px;
            fill: #22A7F2;
        }

        /*Color rojo para gmail*/
        .img-correo svg:hover {
            /*height: 100%;*/
            width: 64px;
            height: 64px;
            fill: #ea0101;
        }

        /*Color verde para whatsapp*/
        .img-whatsapp svg:hover {
            /*height: 100%;*/
            width: 64px;
            height: 64px;
            fill: #0DC143;
        }

        /*Color morado para github*/
        .img-github svg:hover {
            /*height: 100%;*/
            width: 64px;
            height: 64px;
            fill: #5C2D91;
        }

    /*#endregion */
}
