/*AQUI SE ENCUENTRA TODA LA CONFIGURACIÓN DE LA SECCION PROYECTOS RECIENTES*/

/*Variables en css pueden ser globales o locales*/
/*Variables globales*/
/*:root {*/
    /*Colores html*/
    /*--naranja_b: #e59866;*/ /*Bajo*/
    /*--naranja_m: #dc7633;*/ /*Medio*/
    /*--naranja_a: #d35400;*/ /*Alto*/
    /*Colores css*/
    /*--azul_b: #85c1e9;*/ /*Bajo*/
    /*--azul_m: #5dade2;*/ /*Medio*/
    /*--azul_a: #3498db;*/ /*Alto*/
/*}*/

/*Importante para hacer el scroll más dinámico*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.fila-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}


/* Flotar cuatro columnas una al lado de la otra */
.columna {
    flex: 1 0 0%;
    float: left;
    /*width: 25%;*/
    /*padding: 40px 40px 40px 0px;*/
    padding: 20px
}

/*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
.fila {
    /*margin: 0 -5px;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

    /* Limpiar flotadores después de las columnas. */
    .fila:after {
        content: "";
        display: table;
        clear: both;
    }

/* Diseñe las cartas de contador */
.card-habilidad-hijo {
    /* Agrega sombras para crear el efecto de "tarjeta". */
    /*Se quitaron porque crean una linea al dar color por hover*/
    /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
    /*Ortros*/
    /*padding-top: 15px;*/
    /*text-align: center;*/
    /*background-color: #f1f1f1;*/
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    /*border: 1px solid black;*/
    border-radius: .25rem;
    /*background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);*/
}

    /*Al pasar el mouse, agrega una sombra más profunda.*/
.html:hover {
    /*#0d6efd*/
    /*background-image: linear-gradient(to left, white, red);*/
    /*background-image: linear-gradient(to bottom right, white, red);*/
    /*background-image: linear-gradient(to boto right, rgba(255,0,0,0), rgba(255,0,0,1));*/
    /*Rojo para html*/
    /*background-image: linear-gradient(140deg, #f5532a 0%, white 100%, #e85252 75%);*/
    /*background-image: linear-gradient(140deg, rgba(255,0,0,1) 0%, white 100%, rgba(0,0,0,0) 75%);*/
    /*border: 1px solid white;*/
    /*Color semi perfecto en diagonal de botom a right*/
    /*background-image: linear-gradient(140deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/
    /*Variables locales*/
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Colores html*/
    --color_b: #e59866; /*Bajo*/
    --color_m: #dc7633; /*Medio*/
    --color_a: #d35400; /*Alto*/
}

.css:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores css*/
    --color_b: #85c1e9; /*Bajo*/
    --color_m: #5dade2; /*Medio*/
    --color_a: #3498db; /*Alto*/
}

.js:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores js*/
    --color_b: #f9e79f; /*Bajo*/
    --color_m: #f7dc6f; /*Medio*/
    --color_a: #f4d03f; /*Alto*/
}

.bootstrap:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores bootstrap*/
    --color_b: #bb8fce; /*Bajo*/
    --color_m: #a569bd; /*Medio*/
    --color_a: #8e44ad; /*Alto*/
}

.api:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores api*/
    --color_b: #73c6b6; /*Bajo*/
    --color_m: #45b39d; /*Medio*/
    --color_a: #16a085; /*Alto*/
}

.net:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores net*/
    --color_b: #5499c7; /*Bajo*/
    --color_m: #2980b9; /*Medio*/
    --color_a: #2471a3; /*Alto*/
}

.csharp:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores csharp*/
    --color_b: #bb8fce; /*Bajo*/
    --color_m: #a569bd; /*Medio*/
    --color_a: #8e44ad; /*Alto*/
}

.java:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #f1948a; /*Bajo*/
    --color_m: #ec7063; /*Medio*/
    --color_a: #e74c3c; /*Alto*/
}

.cmas:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores cmas*/
    --color_b: #85c1e9; /*Bajo*/
    --color_m: #5dade2; /*Medio*/
    --color_a: #3498db; /*Alto*/
}

.php:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 4s infinite;
    /*Variables locales*/
    /*Colores php*/
    --color_b: #85929e; /*Bajo*/
    --color_m: #5d6d7e; /*Medio*/
    --color_a: #34495e; /*Alto*/
}

/*Animación para todas las tarjetas solo se iran 
    reemplazando las variables según el hover*/

@keyframes color-me-in {
    0% {
        /*background-image: linear-gradient(60deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/

        background: var(--color_b);
    }

    25% {
        background: var(--color_m);
        /*background-image: linear-gradient(120deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/
    }

    50% {
        background: var(--color_a);
        /*background-image: linear-gradient(180deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/
    }

    75% {
        background: var(--color_m);
        /*background-image: linear-gradient(240deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/
    }

    100% {
        background: var(--color_b);
        /*background-image: linear-gradient(300deg, rgba(255,0,0,1) 0%, white 50%, rgba( 255, 87, 51 ) 90%);*/
    }
}





.h-100 {
    height: 100% !important
}

/*Cuerpo o contenido de la tarjeta*/
.card-img-h {
    flex: 1 1 auto;
    /*padding: 1rem 1rem;*/
    font-size: 1rem;
    border-radius: 100px;
    /*  width: 64%;
    height: 64%;*/
    /*margin-top: 20px;*/
    display: block;
    margin: 40px auto 40px auto;
    width: 150px;
    height: 150px;
}


/*Imagen de la tarjeta*/
.card-img-logo {
    width: 150px;
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
    /*border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);*/
}

    .card-img-logo:hover {
        transform: scale(1.5);
        -moz-transform: scale(1.5); /* Firefox */
        -webkit-transform: scale(1.5); /* Chrome - Safari */
        -o-transform: scale(1.5); /* Opera */
        -ms-transform: scale(1.5); /* IE9 */
    }

/*Título de la tarjeta*/
/*.card-title {
    font-size: 1rem;
    padding: 15px;
}*/

/*Texto de la tarjeta*/
/*.card-text {
    font-size: 1rem;
    padding: 15px;
}*/

/*.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }*/

/*.btn {
    display: inline-block;*/
/*font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;*/
/*text-decoration: none;*/
/*vertical-align: middle;*/
/*cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: inherit;
}*/



/*Para pantallas grandes*/
@media (min-width: 910px) {
    /*Para colocar las filas a la izquirda en 2 lineas*/
    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    /*    .overflow-scroll {
        max-height: 768px;
        overflow-y: scroll;
    }*/
    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 600px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }
}


/* Columnas responsivas: diseño de una columna (vertical) en pantallas pequeñas */
@media screen and (max-width: 909px) {
    /*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
    .fila {
        padding-right: 0px;
        padding-left: 0px;
    }

    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .columna {
        width: 100%;
        display: block;
        margin-bottom: 50px;
        padding: 0px;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 550px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }
}
