/*AQUI SE ENCUENTRA TODA LA CONFIGURACIÓN DE LA SECCION PROYECTOS RECIENTES*/

/*Variables en css pueden ser globales o locales*/
/*Variables globales*/
:root {
    --blanco_u: white;
    --negroTP: black;
    --colorGlobal: #0d6efd;
}

/*Importante para hacer el scroll más dinámico*/
/**,
*::before,
*::after {
    box-sizing: border-box;
}*/

h1 {
    color: var(--colorGlobal);
    text-transform: uppercase;
}

.fila-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}

/*/* Flotar cuatro columnas una al lado de la otra */
.columna {
    flex: 1 0 0%;
    float: left;
    padding: 20px
}

/*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
.fila {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

    /* Limpiar flotadores después de las columnas. */
    .fila:after {
        content: "";
        display: table;
        clear: both;
    }

/*Texto con animación de parpadeo del cursor*/
.texto-zoom {
    display: flex;
    /*visibility: hidden;*/
    color: white;
    padding-top: 5px;
}

    .texto-zoom p {
        font-weight: 600;
        font-size: 0.85em;
        padding: 3px 5px 3px 5px;
        border: 1px solid black;
        border-radius: 8px;
        animation: parpadearzoom 2.5s ease infinite;
    }

/*Animación del texto parpadar*/
@keyframes parpadearzoom {
    0% {
        background-color: #85c1e9;
        /*color: #a19f9f;*/
    }

    25% {
        background-color: #5dade2;
    }

    50% {
        background-color: #3498db;
    }

    75% {
        background-color: #5dade2;
    }

    100% {
        background-color: #85c1e9;
    }
}

/* Diseñe las cartas de contenedor */
.card-habilidad-hijo {
    /* Agrega sombras para crear el efecto de "tarjeta". */
    /*Se quitaron porque crean una linea al dar color por hover*/
    /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--blanco_u);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

    .card-habilidad-hijo:hover {
        /*Efecto 3d en las tarjetas*/
        box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
        color: var(--color_a);
        opacity: 1;
    }

    .card-habilidad-hijo .cont-etiqueta {
        /*display: flex;*/
        text-align: center;
        padding-top: -60%;
    }

.cont-etiqueta .etiqueta-name-tecnologia {
    padding: 5px 40px;
    opacity: 0.2;
    font-size: 1.2em;
    font-weight: 600;
}

/*Al pasar el mouse, agrega una sombra más profunda.*/
.html:hover {
    animation: color-me-in 2s infinite;
    /*Colores html*/
    --color_b: #e59866; /*Bajo*/
    --color_m: #dc7633; /*Medio*/
    --color_a: #d35400; /*Alto*/
}

.css:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores css*/
    --color_b: #85c1e9; /*Bajo*/
    --color_m: #5dade2; /*Medio*/
    --color_a: #3498db; /*Alto*/
}

.js:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores js*/
    --color_b: #f9e79f; /*Bajo*/
    --color_m: #f7dc6f; /*Medio*/
    --color_a: #f4d03f; /*Alto*/
}

.bootstrap:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores bootstrap*/
    --color_b: #bb8fce; /*Bajo*/
    --color_m: #a569bd; /*Medio*/
    --color_a: #8e44ad; /*Alto*/
}

/*Se aplico un padding-top ya que no se centraba la imagen*/
/*.pdd-net {
    padding-top: 35px;
}*/

.net:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores net*/
    --color_b: #7538EA; /*Bajo*/
    --color_m: #621EE5; /*Medio*/
    --color_a: #602EC0; /*Alto*/
}

.csharp:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores csharp*/
    --color_b: #bb8fce; /*Bajo*/
    --color_m: #a569bd; /*Medio*/
    --color_a: #8e44ad; /*Alto*/
}

.java:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #f1948a; /*Bajo*/
    --color_m: #ec7063; /*Medio*/
    --color_a: #e74c3c; /*Alto*/
}

/*.jquery:hover {*/
    /*Accedemos a la animación*/
    /*animation: color-me-in 2s infinite;*/
    /*Variables locales*/
    /*Colores java*/
    /*--color_b: #7fb3d5;*/ /*Bajo*/
    /*--color_m: #5499c7;*/ /*Medio*/
    /*--color_a: #2980b9;*/ /*Alto*/
/*}*/

.pdd-sql {
    margin-left: 38px;
    width: 850px;
    height: 150px
}

.sql:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #f7dc6f; /*Bajo*/
    --color_m: #f4d03f; /*Medio*/
    --color_a: #f1c40f; /*Alto*/
}

.mysql:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #3498db; /*Bajo*/
    --color_m: #E48E00; /*Medio*/
    --color_a: #00618A; /*Alto*/
}

.github-ft:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #566573; /*Bajo*/
    --color_m: #34495e; /*Medio*/
    --color_a: #273746; /*Alto*/
}

.git:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores java*/
    --color_b: #ec7063; /*Bajo*/
    --color_m: #e74c3c; /*Medio*/
    --color_a: #cb4335; /*Alto*/
}

.devops:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores api*/
    --color_b: #a9cce3; /*Bajo*/
    --color_m: #7fb3d5; /*Medio*/
    --color_a: #2980b9; /*Alto*/
}

.sendgrid:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores api*/
    --color_b: #99E1F4; /*Bajo*/
    --color_m: #009DD9; /*Medio*/
    --color_a: #1A82E2; /*Alto*/
}

.vscode:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores cmas*/
    --color_b: #85c1e9; /*Bajo*/
    --color_m: #5dade2; /*Medio*/
    --color_a: #3498db; /*Alto*/
}

.vsstudio:hover {
    /*Accedemos a la animación*/
    animation: color-me-in 2s infinite;
    /*Variables locales*/
    /*Colores cmas*/
    --color_b: #C993F6; /*Bajo*/
    --color_m: #7051A7; /*Medio*/
    --color_a: #4D3B71; /*Alto*/
}

/*.php:hover {*/
    /*Accedemos a la animación*/
    /*animation: color-me-in 2s infinite;*/
    /*Variables locales*/
    /*Colores php*/
    /*--color_b: #85929e;*/ /*Bajo*/
    /*--color_m: #5d6d7e;*/ /*Medio*/
    /*--color_a: #34495e;*/ /*Alto*/
/*}*/

/*Animación para todas las tarjetas solo se iran 
    reemplazando las variables según el hover*/
/*Reglas tipo fotográmas  color-me-in(nombre de la regla)*/
@keyframes color-me-in {
    0% {
        background-image: radial-gradient(circle, var(--blanco_u) 5%, white 50%, var(--color_b) 90%);
    }

    25% {
        background-image: radial-gradient(circle, var(--blanco_u) 5%, white 50%, var(--color_m) 90%);
    }

    50% {
        background-image: radial-gradient(circle, var(--blanco_u) 5%, white 50%, var(--color_a) 90%);
    }


    75% {
        background-image: radial-gradient(circle, var(--blanco_u) 5%, white 50%, var(--color_m) 90%);
    }

    100% {
        background-image: radial-gradient(circle, var(--blanco_u) 5%, white 50%, var(--color_b) 90%);
    }
}


.h-100 {
    height: 100% !important
}

/*Cuerpo o contenido de la tarjeta*/
.card-img-h {
    flex: 1 1 auto;
    /*padding: 1rem 1rem;*/
    font-size: 1rem;
    border-radius: 10px;
    margin: 40px auto 40px auto;
    width: 150px;
    height: 150px;
}

/*Cambia el tamaño del svg(los que son de otras páginas)*/
/*Se aplica a JS, .net core y c++*/
.menos {
    width: 50%;
    height: 95%;
    /*Espacio arriba*/
    padding-top: 10px;
}


/*#region Efecto zoom */
/*Imagen de la tarjeta*/
.card-img-logo {
    width: 150px;
    transition: 1.5s ease; /*con ease los elementos no se sobreponen del nav*/
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
}

    .card-img-logo:hover {
        transform: scale(1.5);
        -moz-transform: scale(1.5); /* Firefox */
        -webkit-transform: scale(1.5); /* Chrome - Safari */
        -o-transform: scale(1.5); /* Opera */
        -ms-transform: scale(1.5); /* IE9 */
    }

/*Para pantallas grandes*/
@media (min-width: 811px) {
    /*Para colocar las filas a la izquirda en 2 lineas*/
    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        position: relative;
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 530px;
        overflow-y: scroll;
    }
}
