/*AQUI SE ENCUENTRA TODA LA CONFIGURACIÓN DE LA SECCION PROYECTOS RECIENTES*/

/*Importante para hacer el scroll más dinámico*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.fila-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}


/* Flotar cuatro columnas una al lado de la otra */
.columna {
    flex: 1 0 0%;
    float: left;
    /*width: 25%;*/
    /*padding: 40px 40px 40px 0px;*/
    padding: 20px
}

/*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
.fila {
    /*margin: 0 -5px;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

    /* Limpiar flotadores después de las columnas. */
    .fila:after {
        content: "";
        display: table;
        clear: both;
    }

/* Diseñe las cartas de contador */
.card-habilidad-hijo {
    /* Agrega sombras para crear el efecto de "tarjeta". */
    /*Se quitaron porque crean una linea al dar color por hover*/
    /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
    /*Ortros*/
    /*padding-top: 15px;*/
    /*text-align: center;*/
    /*background-color: #f1f1f1;*/
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    /*min-width: 0;*/
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 200px;
    height: 200px;
    /*background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);*/
    /*background-image: linear-gradient(140deg, #f5532a 0%, white 100%, #e85252 75%);*/
}

    /*Al pasar el mouse, agrega una sombra más profunda.*/
    .card-habilidad-hijo:hover {
        /*#0d6efd*/
        /*background-image: linear-gradient(to left, white, red);*/
        /*background-image: linear-gradient(to bottom right, white, red);*/
        /*background-image: linear-gradient(to boto right, rgba(255,0,0,0), rgba(255,0,0,1));*/
        
        border: 1px solid white;
    }

.h-100 {
    height: 100% !important
}

/*Cuerpo o contenido de la tarjeta*/
.card-img-h {
    flex: 1 1 auto;
    /*padding: 1rem 1rem;*/
    font-size: 1rem;
    border-radius: 100px;
    /*  width: 64%;
    height: 64%;*/
    /*margin-top: 20px;*/
    display: block;
    margin: 40px auto 40px auto;

    width: 100%;
}

/*Imagen de la tarjeta*/
.card-img-logo {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);

}

/*Título de la tarjeta*/
/*.card-title {
    font-size: 1rem;
    padding: 15px;
}*/

/*Texto de la tarjeta*/
/*.card-text {
    font-size: 1rem;
    padding: 15px;
}*/

/*.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }*/

/*.btn {
    display: inline-block;*/
    /*font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;*/
    /*text-decoration: none;*/
    /*vertical-align: middle;*/
    /*cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: inherit;
}*/




@media (min-width: 769px) {
    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    /*    .overflow-scroll {
        max-height: 768px;
        overflow-y: scroll;
    }*/
    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 700px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }
}


/* Columnas responsivas: diseño de una columna (vertical) en pantallas pequeñas */
@media screen and (max-width: 768px) {
    /*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
    .fila {
        padding-right: 0px;
        padding-left: 0px;
    }

    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .columna {
        width: 100%;
        display: block;
        margin-bottom: 50px;
        padding: 0px;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 500px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }
}
