
/* fin de zona común a todas las resoluciones */
@media only screen and (min-width:300px) {
    .secciones {
        background-color: purple;
    }
}

@media screen and (min-width:400px) {

    .secciones {
        background-color: red;
    }
}

@media screen and (min-width:601px) {

    .secciones {
        background-color: green;
    }
}

/* fin de la zona para más de 800px de ancho de pantalla */
@media screen and (min-width:1200px) {

    .secciones {
        background-color: yellow;
    }
}

/* fin de la zona para más de 1200px de ancho de pantalla */



/*s7 Edge*/
/*@media  screen and (min-width: 360px) and (max-height: 640px) {*/ /* Your Styles... */
    /*.seccion {
        background-color: blue;
    }
}*/

/*iPhone SE*/
/*@media  screen and (min-width: 375px) and (max-height: 767px) {*/ /* Your Styles... */
    /*.seccion{
        background-color: red;
        
    }                                           
}*/

/*S9 +*/
/*@media  screen and (min-width: 360px) and (max-height: 740px) {*/ /* Your Styles... */
    /*.seccion {
        background-color: green;
    }
}*/