
/*Kindle Fire*/
@media only screen and (min-width: 800px) and (min-height: 1280px) {
    /*PAG INICIO INICIO*/
    .btn-inicio-float {
        bottom: 80px;
        right: 40px;
        width: 84px;
        height: 84px;
        opacity: 0.2;
    }
    /*PAG INICIO FIN*/

    /*SECCIONES INICIO*/
    .seccion {
        padding: 50px;
        /*Minímo Zoom*/
        min-height: 100vh;
    }

        /*Titulo de todas las secciones*/
        .seccion .texto-secciones {
            /*font-size: 20px;*/
            font-size: 1em;
            padding-bottom: 20px
        }

    /* .btn-secciones:hover {
        opacity: 0.7;
    }
*/
    /*SECCIONES FIN*/

    /*INCIO RECIENTES*/
    /*ROWS Y COLS ES DE RECIENTES*/
    /* Flotar cuatro columnas una al lado de la otra */
    .col {
        padding: 0px;
        padding-top: 0;
    }

    /*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
    .row {
        margin-top: 0px;
    }

    /*Imagen de la tarjeta*/
    .card-img-top {
        width: 100%;
        padding: 5px;
        border-bottom: none;
    }

    .overflow-scroll_r {
        /*position: relative;*/
        padding: 0px 16px 0px 8px;
        margin: 0px 8px 0px 0;
        overflow-y: scroll;
        max-height: 830px;
        /*Espacio entre el botón y el contenido*/
        /*padding-bottom: 20px;*/
    }

    /*Para dar un diseño de botón en pantallas media(espacio entre texto)*/
    .btn-pdd-recientes {
        padding: 15px;
    }

        .btn-pdd-recientes:hover {
            opacity: 0.7;
        }
    /*FIN RECIENTES*/


    /*INICIO HABILIDADES*/
    /*Para colocar las filas a la izquirda en 2 lineas*/
    .fila-cols-md-3 > * {
        flex: 0 0 auto;
        padding-left: 5px;
        width: 33.3333333333%;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        padding: 0px 10px 0px 0px;
        max-height: 880px;
    }

    /*#region Efecto zoom */
    /*Imagen de la tarjeta*/
    .card-img-logo {
        width: 150px;
        transition: 1.5s ease; /*con ease los elementos no se sobreponen del nav*/
        -moz-transition: 1.5s ease; /* Firefox */
        -webkit-transition: 1.5s ease; /* Chrome - Safari */
        -o-transition: 1.5s ease; /* Opera */
        /*border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);*/
    }

        .card-img-logo:hover {
            transform: scale(1.2);
            -moz-transform: scale(1.2); /* Firefox */
            -webkit-transform: scale(1.2); /* Chrome - Safari */
            -o-transform: scale(1.2); /* Opera */
            -ms-transform: scale(1.2); /* IE9 */
        }

    /*FIN HABILIDADES*/

    /*INICIO PERFIL*/
    /*Contenedor de imagen*/
    .img-perfil {
        width: auto;
        padding-bottom: 60px;
    }

    /*Imagen*/
    .img-p {
        width: 500px;
        margin: auto;
    }

    /*Contenido de la card sobre mi*/
    .contenido-card-perfil {
        padding: 50px 60px;
        font-size: 1.15em;
        line-height: 1.5;
    }

    /*Formato del btn sobre mi*/
    .btn-pdd-perfil {
        padding: 10px 80px 10px 80px;
    }

        .btn-pdd-perfil:hover {
            opacity: 0.7;
        }

    /*Div del card-footer*/
    .card-footer-primary {
        margin-top: 0px;
    }

    /*OCULTAR LOS BORDES DE LOS BOTONES */
    .border {
        display: none;
    }
    /*FIN PERFIL*/

    /*EXTRAS*/
    /*Centrar ventana modal*/
    .ventana {
        margin: 75% auto;
    }

    /*Div del texto flotante deslizar*/
    .elemento {
        right: 30px;
        bottom: 165px;
        font-size: 1em;
    }
}






/*ESTILOS DE CV SI LA PANTALLA ES PEQUEÑA*/
@media only screen and (max-height: 760px) {
    /*PAG INICIO INICIO*/

    /*Imagen inicio dentro del contenedor*/
    .contenedor-imagen img {
        /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);*/
        /*Sin este deja un espacio abajo*/
        height: calc(100vh - 120px);
        /*height: 85vh;*/
        /*Para que la imagen se adapte a la pantalla y no muestre su tam real*/
        max-width: 100%;
    }

    /*
        TODO LO QUE AQUI ESTABA YA SE HABIA DEFINIDO EN pag-inicio.css
    */

    /*Botón flotante reg inicio*/
    .btn-inicio-float {
        bottom: 65px;
        right: 30px;
        opacity: 0.2;
    }
    /*PAG INICIO FIN*/

    /*SECCIONES INICIO*/
    /*Diseño de tarjetas de secciones*/
    .seccion .card {
        /*height: 90%;*/
        /*Es como el margen en las tarjetas*/
        padding: 10px;
        border-radius: 8px;
    }

    /*Texto de las secciones */
    .seccion .texto-secciones {
        /*font-size: 16px;*/
        font-size: 0.85em;
    }

    .btn-secciones:hover {
        opacity: 0.7;
    }

    /*Footer de las tarjetas*/
    .card-footer-primary {
        /* margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;*/
        margin-top: 20px;
    }

    /*Cambiar opacidad al pasar el cursor por este */
    .btn:hover {
        opacity: 0.7;
    }

    /*SECCIONES FIN*/


    /*PERFIL INCIO*/
    /*Imagen*/
    .img-p {
        width: 200px;
    }

    /*Contenedor img*/
    .img-perfil {
        padding: 0;
    }

    /*Padding personalizado para btn perfil*/
    .btn-pdd-perfil {
        padding: 10px 78px 10px 78px;
        /*z-index: 999;*/
    }

        .btn-pdd-perfil:hover {
            opacity: 0.7;
        }

    /*Contenido dentro de la tarjeta*/
    .contenido-card-perfil {
        padding: 0px;
        /*padding-bottom: 0;*/
    }

    /*Contenido de la tarjeta*/
    .contenido-perfil-card {
        padding: 0;
    }

    /*Contenido perfil dentro del scrooll*/
    .overflow-scroll_p {
        max-height: 260px;
        overflow-y: scroll;
        /*Espacio entre el botón y el contenido*/
        padding-bottom: 10px;
        /*Tamaño del texto*/
        /*font-size: 16px;*/
        font-size: 1em;
    }
    /*PERFIL FIN*/


    /*HABILIDADES INICIO*/
    /*card habilidades*/
    .contenido-card-habilidades {
        padding: 10px;
    }

    /*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
    .fila {
        /*padding: 0px;*/
        padding-left: 25%;
    }

    .columna {
        width: 60%;
        /*display: block;*/
        margin-bottom: 14px;
        padding: 0px;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_h {
        max-height: 396px;
    }

    /*Imagen de la tarjeta*/
    .card-img-logo {
        padding-top: 10px;
        padding-left: 10px;
        width: 90px;
    }

    /*Cuerpo o contenido de la tarjeta*/
    .card-img-h {
        /*flex: 1 1 auto;*/
        margin: 10px auto 10px auto;
        width: 100px;
        height: 100px;
    }

    /*para js y otros*/
    .menos {
        /*width: 50%;*/
        height: 85%;
    }
    /*Se aplico un padding-top ya que no se centraba la imagen*/
    .pdd-net {
        padding-top: 25px;
        height: 75%;
    }

    /*Cambia el tamaño de icono bootstrap en pantallas pequeñas*/
    .size-bs {
        padding-top: 15px;
        height: 90%;
    }

    .pdd-sql {
        margin-left: 22px;
        width: 90%;
        height: 85%;
    }
    /*FIN HABILIDADES*/


    /*INICIO RECIENTES*/
    /*Contenido de la tarjeta recientes*/
    .contenido-card-recientes {
        padding: 0 10px;
    }

    /*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
    .row {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
    }

    /*.row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }*/

    .col {
        width: 100%;
        display: block;
        margin-bottom: 50px;
        padding: 0px;
    }

    /*Imagen de la tarjeta*/
    .card-img-top {
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
        border-bottom: none;
    }

    /*Se aplica a todo el contenido que contenga la clase scroll*/
    .overflow-scroll_r {
        /*position: relative;*/
        padding: 0px 26px 0px 26px;
        margin: 0px 8px 0px 0;
        max-height: 325px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }

    .card-title {
        font-size: 0.9em;
        padding: 15px;
        padding-bottom: 0;
    }

    .card-text {
        font-size: 0.9em;
        padding: 15px;
    }

    .btn-pdd-recientes {
        padding: 10px;
    }

        .btn-pdd-recientes:hover {
            opacity: 0.7;
        }
    /*RECIENTES FIN*/


    /*EXTRAS*/
    /*Centrar ventana modal*/
    .ventana {
        margin: 60% auto;
    }

    /*Div del texto flotante deslizar*/
    .elemento {
        bottom: 190px;
        right: 30px;
        font-size: 0.58em;
        /*Oculta el deslizar flotante*/
        /*display: none;*/
    }

    /*ESTYLOS DE CV SI LA PANTALLA ES PEQUEÑA*/
    .cont-nav {
        display: none
    }

    .btn-regresar-min {
        visibility: visible;
    }

    /*OCULTAR LOS BORDES DE LOS BOTONES */
    .border {
        display: none;
    }
}
