.imagen {
    background-image: url(../img/person-paisaje.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
/*100% el tamaño de la imagen en height y with*/
    background-size: 100% 100%;
    /*background-color: rgba(00,00,255,0.5);*/
    /*NO SE USA*/
    /*width: 100px;
    height: 100px;*/
    /* background: #FF7A59;*/
    /*opacity: 0.90;*/
}

.contenido-imagen {
    display: flex;
    flex-direction: column;
    /*Alinear el texto a la izquierda*/
    align-items: flex-start;
    /*align-items: center;*/
    justify-content: center;
    padding-bottom: 100px;
    /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);*/
    height: calc(100vh - 80px);
    /*NO SE USA*/
    /*margin-top:500px;*/
    /*padding-top:5rem;*/
    /*margin-left: 30px;*/
    /*margin-right: 50%;*/
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
    /*alpha(opacity=70);*/
    /*filter: opacity(500px); */
    /*-moz-opacity: .70;*/
    /*opacity: 0.9;*/
    /*color: #f2f2f2;*/
    /*content: image('~/img/person-paisaje.jpg');*/
}

/*NO SE USA*/
/*Titulo*/
/*.hero h1 {
        margin-top: 2rem;*/
/*margin-left: 2rem;*/
/*font-size: 80px;
    }*/
/*Subtitulo*/
/*.hero p {*/
/*margin-left: 0;*/
/*font-size: 30px;*/
/*text-transform: uppercase;*/
/*color: #113CFC;*/
/*text-shadow: 0 0 6px;*/


/*Menú de navegación
    VERIFICAR EN CASO DE NECESITAR OTRO MENÚ*/
.nav_menu {
    /*color de fondo*/
    background: #fff;
    /*altura*/
    height: 80px;
    /*sombra*/
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    /*Para que los elementos se pongan uno al lado de otro con(flexbox)*/
    display: flex;
    /*CONFIGURAR EL MENÚ PEGAJOSO (PARA QUE SE MANTENGA)*/
    /*Con la propiedad sticky*/
    position: sticky;
    /*indicamos en donde se quedara pegado*/
    top: 0; /*Coordenada 0*/
    /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
    overflow: hidden;
}
    /*Para que todos los enlaces "a" se muestren espaciados */
    .nav_menu a {
        /*CON FLEXBOX*/
        /*Para que todos tengan el mismo tamaño*/
        flex: 1;
        /*alto*/
        height: 100%;
        /*Para que el texto se ponga en mayúscula*/
        text-transform: uppercase;
        /*Para indicarle que se va a usar flexbox*/
        display: flex;
        /*alinear el texto de forma vertical*/
        align-items: center;
        /*alinear el texto de forma vertical en los contenedores*/
        justify-content: center;
        /*Todo el contenido centrado al ocupar más de 2 lineas*/
        text-align: center;
        /*Colr*/
        color: #000;
        /*Transición de tiempo para todas las propiedades*/
        transition: .2s ease-in-out all;
        /*Texto con negritas fuerte*/
        font-weight: 500;
    }

        /*Efecto sombreado(hover) al pasar el cursor en el nav*/
        .nav_menu a:hover {
            background: #6782fa;
            /*font-size: 20px;*/
        }


    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 7px;
        /*color*/
        background: #113cfc;
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        /*Va a tener trnsisciones de tiempo para todas las propiedades*/
        /*Va a tener una animación*/
        transition: .3s ease-out all;
        /*para demostrar mientras va aumentando va ir cambiando*/
        /*el indicador va a ir de izquierda a derecha va a aparecer por eso es negativo*/
        /*transform: translate(-500px);*/
        /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
        overflow: hidden;
    }


/*#region Media Querys */
/*Ayudan a mostrar las animaciones según el tamaño de la pantalla si es menor o mayor*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 500px) {

    .contenido-imagen .titulo {
        margin-left: 25px;
        font-size: 40px;
        font-weight: normal;
        /*NO SE USA 👇*/
        /*margin-bottom: 20px;*/
    }

    .nav_menu a {
        font-size: 12px;
        /*NO SE USA 👇*/
        /*padding: 5px;*/
    }

    /*Efecto sombreado(hover) al pasar el cursor en el nav*/
    .nav_menu a:hover {
        background: #6782fa;
        /*NO SE USA 👇*/
        /*font-size: 20px;*/
    }

    #big-a {
        font-size: 11px;
    }
}

