:root {
    --negro: black;
    --blanco: #fff;
    --colorGlobal: #0d6efd;
}

/*Contenedor de imagen*/
.contenedor-imagen {
    position: relative;
    display: block;
    background-color: black;
}

    .contenedor-imagen img {
        /*width: 400px;*/
        margin: auto;
        display: block;
        object-fit: cover;
        width: 100%;
        height: calc(100vh - 65px);

    }

    /*Texto que se muestra sobre la imagen*/
    .contenedor-imagen .contenido-imagen {
        position: absolute;
        top: 50%;
        padding-left: 2rem;
        transform: translate(-0%, -50%);
    }

/*Menú de navegación
    VERIFICAR EN CASO DE NECESITAR OTRO MENÚ*/
.nav_menu {
    /*color de fondo*/
    background: var(--blanco);
    /*sombra*/
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    position: sticky;
    /*indicamos en donde se quedara pegado*/
    top: 0;
    overflow: hidden;
    z-index: 999;
}

    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 5px; /*SE CAMBIO ESTA PROP*/
        /*color*/
        background: var(--colorGlobal);
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        transition: .2s ease-out all;
    }

/*Apartado de animaciones de nav*/
.menu-p-inicio {
    display: flex;
    justify-content: center;
    text-align: center;
    /*altura*/
    height: 65px;
}

    .menu-p-inicio li {
        /*Para que todos tengan el mismo tamaño o espacio*/
        flex: 1;
    }

    .menu-p-inicio a {
        position: relative;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--negro);
        font-weight: 600;
    }

        .menu-p-inicio a span {
            transition: transform 0.2s ease-out;
        }

            .menu-p-inicio a span:first-child {
                display: inline-block;
                padding: 15px 15px;
                /*SE CAMBIO ESTA PROP*/
            }

            .menu-p-inicio a span:last-child {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-100%);
            }

    .menu-p-inicio svg {
        width: 40px;
        height: 40px;
    }

    .menu-p-inicio a:hover span:first-child {
        transform: translateY(100%);
    }

    .menu-p-inicio a:hover span:last-child,
    .menu-p-inicio[data-animation] a:hover span:last-child {
        transform: none;
    }

    /* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu-p-inicio[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
    }

    .menu-p-inicio[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
    }

.elemento {
    bottom: 170px;
    right: 40px;
    position: absolute;
    font-size: 1em;
    opacity: 0.8;
}

.animatedColor {
    color: var(--colorGlobal);
}

.flecha {
    animation: arrow 1.5s ease-in-out infinite;
}

    .flecha:hover {
        animation: arrow 1.5s ease-out infinite !important;
        color: #ffffff;
    }

@keyframes arrow {
    0% {
        transform: translate(0px, 50px);
    }

    50% {
        transform: translate(0px, 60px);
    }

    100% {
        transform: translate(0px, 50px);
    }
}