:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --red: #e74c3c;
}

.imagen {
    background-image: url(../img/person-paisaje.jpg);
    background-repeat: no-repeat;
    /*hace que la imagen se vea un poco más compacta (mejor en pantallas pequeñas)*/
    background-attachment: fixed;
    /*100% el tamaño de la imagen en height y with*/
    background-size: 100% 100%;
    /*background-color: rgba(00,00,255,0.5);*/
    /*NO SE USA*/
    /*width: 100px;
    height: 100px;*/
    /* background: #FF7A59;*/
    /*opacity: 0.90;*/
}

.contenido-imagen {
    display: flex;
    /*position: relative;*/
    flex-direction: column;
    /*Alinear el texto a la izquierda*/
    align-items: flex-start;
    /*Justificar contenido al centro*/
    justify-content: center;
    /*padding-bottom: 50px;*/
    /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);*/
    height: calc(100vh - 80px);
    /*NO SE USA*/
    /*margin-top:500px;*/
    /*padding-top:5rem;*/
    /*margin-left: 30px;*/
    /*margin-right: 50%;*/
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
    /*alpha(opacity=70);*/
    /*filter: opacity(500px); */
    /*-moz-opacity: .70;*/
    /*opacity: 0.9;*/
    /*color: #f2f2f2;*/
    /*content: image('~/img/person-paisaje.jpg');*/
    max-width: 100%;
    /*height: auto;*/
}

/*NO SE USA*/
/*Titulo*/
/*.hero h1 {
        margin-top: 2rem;*/
/*margin-left: 2rem;*/
/*font-size: 80px;
    }*/
/*Subtitulo*/
/*.hero p {*/
/*margin-left: 0;*/
/*font-size: 30px;*/
/*text-transform: uppercase;*/
/*color: #113CFC;*/
/*text-shadow: 0 0 6px;*/




    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 7px;
        /*color*/
        background: var(--colorGlobal);
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        /*Va a tener trnsisciones de tiempo para todas las propiedades*/
        /*Va a tener una animación*/
        transition: .3s ease-out all;
        /*para demostrar mientras va aumentando va ir cambiando*/
        /*el indicador va a ir de izquierda a derecha va a aparecer por eso es negativo*/
        /*transform: translate(-500px);*/
        /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
        /* overflow: hidden;*/
    }

/*Apartado de animaciones de nav*/
.menu-p-inicio {
    display: flex;
    justify-content: center;
}

    .menu-p-inicio li {
        margin-right: 70px;
    }

    .menu-p-inicio a {
        position: relative;
        display: block;
        overflow: hidden;
    }

        .menu-p-inicio a span {
            transition: transform 0.2s ease-out;
        }

            .menu-p-inicio a span:first-child {
                display: inline-block;
                padding: 10px;
            }

            .menu-p-inicio a span:last-child {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-100%);
            }

    .menu-p-inicio i {
        font-size: 30px;
    }

    .menu-p-inicio a:hover span:first-child {
        transform: translateY(100%);
    }

    .menu-p-inicio a:hover span:last-child,
    .menu-p-inicio[data-animation] a:hover span:last-child {
        transform: none;
    }

    /* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu-p-inicio[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
    }

    .menu-p-inicio[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
    }

    .menu-p-inicio[data-animation="to-right"] a span:last-child {
        transform: translateX(-100%);
    }

    .menu-p-inicio[data-animation="to-right"] a:hover span:first-child {
        transform: translateX(100%);
    }

    .menu-p-inicio[data-animation="to-left"] a span:last-child {
        transform: translateX(100%);
    }

    .menu-p-inicio[data-animation="to-left"] a:hover span:first-child {
        transform: translateX(-100%);
    }


/*#region Media Querys */
/*Ayudan a mostrar las animaciones según el tamaño de la pantalla si es menor o mayor*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 500px) {
    .imagen {
        /*hace que la imagen se vea un poco más compacta (mejor en pantallas pequeñas)*/
        background-attachment: scroll;
    }

    .contenido-imagen .titulo {
        margin-left: 25px;
        font-size: 40px;
        font-weight: normal;
        /*NO SE USA 👇*/
        /*margin-bottom: 20px;*/
    }

    .nav_menu a {
        font-size: 12px;
        /*NO SE USA 👇*/
        /*padding: 5px;*/
    }

        /*Efecto sombreado(hover) al pasar el cursor en el nav*/
        .nav_menu a:hover {
            background: var(--colorGlobal);
            /*NO SE USA 👇*/
            /*font-size: 20px;*/
        }


    #big-a {
        font-size: 11px;
    }

    .msj {
        font-size: 50px;
    }
}
