:root {
    --negro: black;
    --blanco: #fff;
    --colorGlobal: #0d6efd;
}

/*Contenedor de imagen*/
.contenedor-imagen {    
    position: relative;
    display: block;
}

    .contenedor-imagen img {
        /*width: 400px;*/
        margin: auto;
        display: block;
        /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);*/
        /*Sin este deja un espacio abajo*/
        /*Para que la imagen se adapte a la pantalla y no muestre su tam real*/
        max-width: 100%;
        height: calc(100vh - 80px);
        /*height: 100%;*/
    }

    /*Texto que se muestra sobre la imagen*/
    .contenedor-imagen .contenido-imagen {
        position: absolute;
        top: 50%;
        padding-left: 2rem;
        transform: translate(-0%, -50%);     
    }

/*Menú de navegación
    VERIFICAR EN CASO DE NECESITAR OTRO MENÚ*/
.nav_menu {
    /*color de fondo*/
    background: var(--blanco);
    /*sombra*/
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    /*Para que los elementos se pongan uno al lado de otro con(flexbox)*/
    /*display: flex;*/
    /*CONFIGURAR EL MENÚ PEGAJOSO (PARA QUE SE MANTENGA)*/
    /*Con la propiedad sticky*/
    position: sticky;
    /*indicamos en donde se quedara pegado*/
    top: 0; /*Coordenada 0*/
    /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
    overflow: hidden;
    /*Indica el orden de un elemento posicionado y sus descendientes.*/
    /*Cuando varios elementos se superponen los de mayor valor cubren a los de menor valor*/
    z-index: 999;
}

    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 7px;
        /*color*/
        background: var(--colorGlobal);
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        /*Va a tener trnsisciones de tiempo para todas las propiedades*/
        /*Va a tener una animación*/
        transition: .2s ease-out all;
        /*para demostrar mientras va aumentando va ir cambiando*/
        /*el indicador va a ir de izquierda a derecha va a aparecer por eso es negativo*/
        /*transform: translate(-500px);*/
        /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
        /* overflow: hidden;*/
    }

/*Apartado de animaciones de nav*/
.menu-p-inicio {
    display: flex;
    justify-content: center;
    text-align: center;
    /*altura*/
    height: 80px;
    /*margin-top: 20px;*/
}

    .menu-p-inicio li {
        /*margin-right: 70px;*/
        /*Para que todos tengan el mismo tamaño o espacio*/
        flex: 1;
        /*transition: transform 0.2s ease-in-out;*/
    }

    .menu-p-inicio a {
        position: relative;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--negro);
        font-weight: 600;
    }

        .menu-p-inicio a span {
            transition: transform 0.2s ease-out;
        }

            .menu-p-inicio a span:first-child {
                display: inline-block;
                padding: 20px;
            }

            .menu-p-inicio a span:last-child {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-100%);
            }

    .menu-p-inicio svg {
        width: 40px;
        height: 40px;
    }

    .menu-p-inicio a:hover span:first-child {
        transform: translateY(100%);
        /*background: black;*/
        /*color: black;*/
    }

    .menu-p-inicio a:hover span:last-child,
    .menu-p-inicio[data-animation] a:hover span:last-child {
        transform: none;
        /*background: black;*/
        /*color: black;*/
    }

    /* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu-p-inicio[data-animation="to-top"] a span:last-child {
        transform: translateY(100%);
    }

    .menu-p-inicio[data-animation="to-top"] a:hover span:first-child {
        transform: translateY(-100%);
    }

.elemento {
    /*width: 50px;*/
    /*height: 50px;*/
    bottom: 170px;
    right: 40px;
    /*margin: 0 auto;*/
    position: absolute;
    font-size: 1em;
    opacity: 0.8;
}

.animatedColor {
    color: var(--colorGlobal);
}

.flecha {
    animation: arrow 1.5s ease-in-out infinite;
}

    .flecha:hover  {
        animation: arrow 1.5s ease-out infinite !important;
        color: #ffffff;
    }

@keyframes arrow {
    0% {
        transform: translate(0px, 50px);
    }

    50% {
        transform: translate(0px, 60px);
    }

    100% {
        transform: translate(0px, 50px);
    }
}

/*PARA EQUIPOS CON ANCHO DE 600px para abajo*/
/*Ayudan a mostrar las animaciones según el tamaño de la pantalla si es menor o mayor*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 600px) {
    /*@media only screen and (min-height: 761px) and (min-height: 1000px) {*/

    .contenedor-imagen img {
        /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);*/
        /*Sin este deja un espacio abajo*/
        /*height: calc(100vh - 90px);*/
        /*height: 85vh;*/
        /*Para que la imagen se adapte a la pantalla y no muestre su tam real*/
        max-width: 100%;
    }
    /*Texto que se muestra sobre la imagen*/
    .contenedor-imagen .contenido-imagen {
        position: absolute;
        top: 50%;
        padding-left: 1rem;
        transform: translate(-0%, -50%);
    }

    /*Bienvenida y nombre de la escritura*/
    .contenido-imagen .titulo {
        padding-right: 10px;
        /*font-size: 40px;*/
        font-size: 2.5em;
        font-weight: normal;
    }

    /*Profesión texto*/
    dev {
        /*font-size: 50px;*/
        font-size: 3.125em;
    }

    /*Mensaje texto*/
    .msj {
        /*font-size: 50px;*/
        font-size: 1em;
    }

    #big-a {
        /*font-size: 10px;*/
        font-size: 0.625em;
        font-weight: 600;
    }

    .nav_menu a {
        /*font-size: 12px;*/
        font-size: 0.75em;
        /*NO SE USA 👇*/
        /*padding: 5px;*/
    }

    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 7px;
        /*color*/
        background: var(--colorGlobal);
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        /*Va a tener trnsisciones de tiempo para todas las propiedades*/
        /*Va a tener una animación*/
        transition: .2s ease-out all;
        /*para demostrar mientras va aumentando va ir cambiando*/
        /*el indicador va a ir de izquierda a derecha va a aparecer por eso es negativo*/
        /*transform: translate(-500px);*/
        /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
        /* overflow: hidden;*/
    }

    .menu-p-inicio svg {
        width: 30px;
        height: 30px;
    }
}
