/*AQUI SE ENCUENTRA TODA LA CONFIGURACIÓN DE LA SECCION PROYECTOS RECIENTES*/

/*Importante para hacer el scroll más dinámico*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}


/* Flotar cuatro columnas una al lado de la otra */
.col {
    flex: 1 0 0%;
    float: left;
    /*width: 25%;*/
    /*padding: 40px 40px 40px 0px;*/
    padding: 20px
}

/*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
.row {
    /*margin: 0 -5px;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

    /* Limpiar flotadores después de las columnas. */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Diseñe las cartas de contador */
.card-proyecto-hijo {
    /* Agrega sombras para crear el efecto de "tarjeta". */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*padding-top: 15px;*/
    /*text-align: center;*/
    /*background-color: #f1f1f1;*/
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

    /*Al pasar el mouse, agrega una sombra más profunda.*/
    .card-proyecto-hijo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.h-100 {
    height: 100% !important
}

/*Cuerpo o contenido de la tarjeta*/
.card-body {
    flex: 1 1 auto;
    /*padding: 1rem 1rem;*/
    font-size: 1rem;
}

/*Imagen de la tarjeta*/
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

/*Título de la tarjeta*/
.card-title {
    font-size: 1rem;
    padding: 15px;
}

/*Texto de la tarjeta*/
.card-text {
    font-size: 1rem;
    padding: 15px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }

.btn {
    display: inline-block;
    /*font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;*/
    text-decoration: none;
    /*vertical-align: middle;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: inherit;
}




@media (min-width: 768px) {
    .row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    /*    .overflow-scroll {
        max-height: 768px;
        overflow-y: scroll;
    }*/
}


/* Columnas responsivas: diseño de una columna (vertical) en pantallas pequeñas */
@media screen and (max-width: 769px) {
    .row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col {
        width: 100%;
        display: block;
        margin-bottom: 50px;
        padding: 0px;
    }

    .overflow-scroll {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 480px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
    }
}
/*.card-proyecto-hijo {*/
/* Agrega sombras para crear el efecto de "tarjeta". */
/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}*/
/* Al pasar el mouse, agrega una sombra más profunda. */
/*.card-proyecto-hijo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }*/
/* Agregue algo de relleno dentro del contenedor de la tarjeta. */
/*.card-body {
    padding: 2px 16px;
}*/
