/*AQUI SE ENCUENTRA TODA LA CONFIGURACIÓN DE LA SECCION PROYECTOS RECIENTES*/

:root {
    --colorGlobalR: #0d6efd;
}

.row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
}

/* Flotar cuatro columnas una al lado de la otra */
.col {
    flex: 1 0 0%;
    float: left;
    padding: 20px
}

/*Eliminar márgenes izquierdo y derecho adicionales debido al relleno en las columnas*/
.row {
    /*margin: 0 -5px;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

    /* Limpiar flotadores después de las columnas. */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Diseñe las cartas de contador */
.card-proyecto-hijo {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

    /*Al pasar el mouse, agrega una sombra más profunda.*/
    .card-proyecto-hijo:hover {
        box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    }

.h-100 {
    height: 100% !important
}

/*Imagen de la tarjeta*/
.card-img-top {
    width: 100%;
    border-bottom: 1px solid black;
}

/*Cuerpo o contenido de la tarjeta*/
.card-body {
    flex: 1 1 auto;
}

/*Título de la tarjeta*/
.card-title {
    font-size: 1em;
    padding: 15px;
}

/*Texto de la tarjeta*/
.card-text {
    font-size: 1em;
    padding: 15px;
    text-align: justify;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }

.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1em;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: 1;
}

    /*Cambiar opacidad al pasar el cursor por este */
    .btn:hover {
        opacity: 0.7;
    }

.btn-primary {
    color: #fff;
    background-color: var(--colorGlobalR);
    border-color: inherit;
    
}

@media (min-width: 811px) {
    .row-cols-md-2-pdesing > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
