:root {
    --colorGlobalS: #0d6efd;
}

/*.secciones {*/
/*SI LO CONVIERTO EN NEGATIVO CRECE LA BARRA DE ABAJAO*/
/*margin: 10px;
}*/
/*Secciones*/
.seccion {
    /*Minímo Zoom*/
    min-height: 100vh;
    /*Máximo Zoom*/
    max-width: 1200px;
    /*Tamaño que ocupa la seccion de la pag principal*/
    /*width: 90%;*/
    /*Margénes automáticos*/
    margin: auto;
    /*margin: auto 30% auto 0%;*/
    /*Espacio todas partes de la seccion*/
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*CONFIGURACIÓN PARA LA IMG DE FONDO * SECCION*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    /*Tarjeta dentro de la seccion*/
    .seccion .card {
        background: #FFFFFF;
        height: 90%;
        /*Es como el margen en las tarjetas*/
        /* padding: 40px;*/
        border-radius: 8px;
        /* border-top: 1px solid rgb(0, 0, 0, 1);
        border-left: 1px solid rgb(128, 128, 128);
        border-right: 1px solid rgb(128, 128, 128);
        border-bottomB: 1px solid rgb(128, 128, 128);*/
        border: 1px solid rgba(0,0,0,.125);
        /*box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 24px;*/
        /*margin:40px;*/
    }

    .seccion .texto-secciones {
        /*font-size: 20px;*/
        font-size: 1.25em;
        padding-bottom: 20px
    }

    /*ES IMPORTANTE MANEJAR LAS IMAGENES EN TIPO DE FORMA (px) ya que en (%) tiende a dejar espacios*/
    /*Al momento de trabajar con img se debe asignar un id para evitar errores de concurrencia*/
    /*Contenedor*/
    .img-perfil {
        /*    width: 100%;*/
        /*position: center;
    margin: 20px;*/
        /*position: fixed;*/
        /*    width: 100%;*/
        width: auto;
        padding-bottom: 40px;
        /*padding: 0 60px 0;*/
    }

/*Imagen*/
.img-p {
    /*width: auto;*/
    /*max-height: 100%;*/
    /*height: auto;*/
    width: 400px;
    margin: auto;
    /*Centrar*/
    display: block;
    /*border-style: groove;*/
    /*margin-bottom:20px;*/
    /*border: 1px solid black;*/
}

.contenido-card-perfil {
    padding: 40px 60px;
    text-align: justify;
}

/*Estilo al id de la sección perfil*/
#Perfil {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    /*background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg");*/
    /*background-image: url("../img/5.jpg");*/
    /*background-color: #4e4949;*/
    /*background-image: linear-gradient(180deg, rgb(0, 0, 0, 1), rgb(255, 255, 255, 1));*/

    background-color: #151921;
}

.contenido-card-habilidades {
    /*    width: 1060px;
    height: 818px;*/
    /* width: auto;
    height: auto;*/
    padding: 40px 60px;
}
/*Estilo al id de la sección Habilidades*/
#Habilidades {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    /*background-image: url("https://cdn.pixabay.com/photo/2015/02/24/02/05/website-647013_960_720.jpg");*/
    /*background-image: url("../img/2.jpg");*/
    /*background-color: #2b2828;*/
    /*background-image: linear-gradient(180deg, rgb(0, 0, 0, 1), rgb(255, 255, 255, 0));*/

    background-color: #151921;
}

.contenido-card-recientes {
    padding: 40px 60px;
}
/*Estilo al id de la sección Proyectos_recientes*/
#Proyectos_recientes {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    /*background-color: #0d0c0c;*/
    /*background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_960_720.png");*/
    /*background-image: linear-gradient(180deg, rgb(0, 0, 0, 1), rgb(255, 255, 255, 1));*/

    background-color: #151921;
}


/*#region Media Querys */
/*Valores que tomarán los elementos de las secciones cuando la pantalla se encuentre en un rango de width= 500px*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 1050px) {
    .seccion {
        padding: 20px;
    }

        .seccion .card {
            /*            height: 90%;*/
            /*Es como el margen en las tarjetas*/
            padding: 20px;
            border-radius: 8px;
        }

        .seccion .texto-secciones {
            /*font-size: 16px;*/
            font-size: 1em;
        }

    .img-p {
        /*width: auto;*/
        /*max-height: 100%;*/
        /*  height: auto;*/
        width: 200px;
        padding: 20px;
        display: block;
        /*Nuevo*/
        /*float: left;*/
        /* width: 150px;*/
        /*height: 150px;*/
        shape-outside: url("~/img/undraw_profile.svg");
    }

    /*.titulo-sobre-mi {
        padding-top: 10px;
        padding-bottom: 10px;*/
        /*font-size: 12px*/
        /*font-size: 0.75em;
    }*/

    /*Contenido dentro del scrooll*/
    .overflow-scroll_p {
        /*position: relative;*/
        padding: 0px 8px 0px 8px;
        margin: 0px 8px 0px 0;
        max-height: 350px;
        overflow-y: scroll;
        /*max-height: 700px;
        overflow-y: scroll;*/
        /*Espacio entre el botón y el contenido*/
        padding-bottom: 20px;
        /*Tamaño del texto*/
        /*font-size: 16px;*/
        font-size: 1em;
    }

    .contenido-card-perfil {
        padding: 0px;
        /*padding-bottom: 0;*/
    }

    .contenido-perfil-card {
        padding: 0;
    }

    .contenido-card-habilidades {
        /*padding: 0 40px;*/
        padding: 0;
        /*Ancho izquierda-derecha*/
        /*width: 290px;*/
        /*width: auto;*/
        /*Alto arriba-abajo*/
        /*height: 570px;*/
        /*height: auto;*/
    }

    .contenido-card-recientes {
        padding: 0 20px;
    }
}
