:root {
    --colorGlobalS: #0d6efd;
}

/*Secciones*/
.seccion {
    /*Minímo Zoom*/
    min-height: 100vh;
    /*Máximo Zoom*/
    max-width: 1200px;
    /*Margénes automáticos*/
    margin: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /*Tarjeta dentro de la seccion*/
    .seccion .card {
        background: #FFFFFF;
        height: 90%;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,.125);
    }

    .seccion .texto-secciones {
        /*font-size: 20px;*/
        font-size: 1.14em;
        /*line-height: 25px;*/
        /*font-size: 1.25em;*/
        /*Se quito esta propiedad por el espacio en pantallas grandes*/
        /*padding-bottom: 20px;  */
    }

/*Contenedor*/
.img-perfil {
    width: auto;
    padding-bottom: 20px;
}

/*Imagen*/
.img-p {
    width: 420px;
    margin: auto;
    /*Centrar*/
    display: block;
}

.contenido-card-perfil {
    padding: 40px 60px;
    text-align: justify;
}

    .contenido-card-perfil .overflow-scroll_p {
        padding-top: 10px;
    }

/*Estilo al id de la sección perfil*/
#Perfil {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    background-color: #151921;
}

.contenido-card-habilidades {
    padding: 40px 60px;
}
/*Estilo al id de la sección Habilidades*/
#Habilidades {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    background-color: #151921;
}

.contenido-card-recientes {
    padding: 40px 60px;
}
/*Estilo al id de la sección Proyectos_recientes*/
#Proyectos_recientes {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    background-color: #151921;
}
