/*.secciones {*/
/*SI LO CONVIERTO EN NEGATIVO CRECE LA BARRA DE ABAJAO*/
/*margin: 10px;
}*/
/*Secciones*/
.seccion {
    /*Minímo Zoom*/
    min-height: 100vh;
    /*Máximo Zoom*/
    max-width: 1200px;
    /*Tamaño que ocupa la seccion de la pag principal*/
    /*width: 90%;*/
    /*Margénes automáticos*/
    margin: auto;
    /*margin: auto 30% auto 0%;*/
    /*Espacio todas partes de la seccion*/
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*CONFIGURACIÓN PARA LA IMG DE FONDO * SECCION*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    /*Tarjeta dentro de la seccion*/
    .seccion .card {
        background: #fff;
        height: 90%;
        /*Es como el margen en las tarjetas*/
        padding: 40px;
        border-radius: 8px;
        /*box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 24px;*/
        /*margin:40px;*/
    }
/*Encabezado de las secciones*/
/*.seccion h1 {
        font-size: 48px;*/
/*font-size: 48px;*/
/*margin-bottom: 20px;*/
/*margin: 30px;*/
/*}*/

/*Parráfos de las secciones*/
/*.seccion .parrafo-perfil, .parrafo-habilidades, .parrafo-recientes {
        line-height: 38px;*/
/*margin: 20px;*/
/*color: #494949;
        font-size: 20px;
    }*/

/*    .seccion card-footer {
        padding: .5rem 1rem;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }*/


/*YA NO EDITE O COMENTE*/
/*ES IMPORTANTE MANEJAR LAS IMAGENES EN TIPO DE FORMA (px) ya que en (%) tiende a dejar espacios*/
/*.seccion img {
        width: 100%;
        vertical-align: central;*/
/*position: center;*/
/*margin: 20px;*/
/*NO SE USA 👇*/
/*width: 1000px;
        height: 500px;*/
/*vertical-align: central;*/
/*}*/

/*.card .card-proyectos-hijo {*/
/*Espacio entre el texto y la card de proyectos recientes*/
/*margin-top: 2rem;
    background-color: #e6e2e2;
    height: 90%;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 24px;
}*/

/*.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;*/
/*font-weight: 400;*/
/*line-height: 1.5;
    color: #212529;
    text-align: center;*/
/*text-decoration: none;*/
/*vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}*/

/*.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
*/
/*Estilo al id de la sección perfil*/
#Perfil {
    /* padding: 30px;*/
    align-content: center;
    background-size: 100% 100%;
    background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

/*Estilo al id de la sección Habilidades*/
#Habilidades {
    /*padding: 30px;*/
    align-content: center;
    background-size: 100% 100%;
    /*background-image: url("https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
    /*Imagen de <a href="https://pixabay.com/es/users/boskampi-3788146/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1873854">Boskampi</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1873854">Pixabay</a>*/
    background-image: url(../img/habilidad.png);
}

/*Estilo al id de la sección Proyectos_recientes*/
#Proyectos_recientes {
    /*padding: 30px;*/
    padding-top: 80px;
    align-content: center;
    background-size: 100% 100%;
    background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}


/*#region Media Querys */
/*Valores que tomarán los elementos de las secciones cuando la pantalla se encuentre en un rango de width= 500px*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 500px) {
    .seccion {
        padding: 30px;
    }

        .seccion .card {
            /*            height: 90%;*/
            /*Es como el margen en las tarjetas*/
            padding: 20px;
            border-radius: 8px;
        }

        /*.seccion h1 {
            font-size: 32px;*/
            /*NO SE USA 👇*/
            /*margin-bottom: 20px;*/
        /*}

        .seccion p {
            line-height: 28px;
            font-size: 15px;
        }*/

   /* .overflow-scroll {
        max-height: 600px;
        overflow-y: scroll;
    }*/
}
