* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    
    /*Propiedad para mostrar una animación al momento de ir desde un enlace hacia una seccion*/
    scroll-behavior: smooth;
    /* height: 3500px; */
    /*position: absolute;*/
    /*min-height: 100%;*/
}

body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    /*Espacio entre el contenido y el footer*/
    /*SE CAMBIO ESTA PROPIEDAD ESTABA A 100 POR ESO QUEDABA UN ESPACIO EN BLANCO 
    ABAJO DE MI FOOTER
*/
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Para mostrar mi pantalla de inicio en toda la pantalla del navegador
        que ocupe el 100% (v*h viewpor hight alto del dispositivo)
        SE CAMBIA PERO SE UTILIZARA UNA FUNCION calc(100vh - 80 px);
    */
    height: calc(100vh - 80px);
}

    /*Titulo*/
    .hero h1 {
        margin-top: 2rem;
        /*margin-left: 2rem;*/
        font-size: 80px;
    }
    /*Subtitulo*/
    .hero p {
        /*margin-left: 0;*/
        font-size: 30px;
        text-transform: uppercase;
        color: #113CFC;
        text-shadow: 0 0 6px;
    }


/*Menú de navegación
    VERIFICAR EN CASO DE NECESITAR OTRO MENÚ
*/
.nav_menu {
    /*color de fondo*/
    background: #fff;
    /*altura*/
    height: 80px;
    /*sombra*/
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    /*Para que los elementos se pongan uno al lado de otro con(flexbox)*/
    display: flex;
    /*CONFIGURAR EL MENÚ PEGAJOSO (PARA QUE SE MANTENGA)*/
    /*Con la propiedad sticky*/
    position: sticky;
    /*indicamos en donde se quedara pegado*/
    top: 0; /*Coordenada 0*/
    /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
    overflow: hidden;
}
    /*Para que todos los enlaces "a" se muestren espaciados */
    .nav_menu a {
        /*CON FLEXBOX*/
        /*Para que todos tengan el mismo tamaño*/
        flex: 1;
        /*alto*/
        height: 100%;
        /*Para que el texto se ponga en mayúscula*/
        text-transform: uppercase;
        /*Para indicarle que se va a usar flexbox*/
        display: flex;
        /*alinear el texto de forma vertical*/
        align-items: center;
        /*alinear el texto de forma vertical en los contenedores*/
        justify-content: center;
        /*Todo el contenido centrado al ocupar más de 2 lineas*/
        text-align: center;
        /*Colr*/
        color: #000;
        /*Transición de tiempo para todas las propiedades*/
        transition: .2s ease-in-out all;
        /*Texto con negritas fuerte*/
        font-weight: 500;
    }

        /*Efecto sombreado(hover) al pasar el cursor en el nav*/
        .nav_menu a:hover {
            background: #6782fa;
            /*font-size: 20px;*/
        }


    .nav_menu .indicador {
        /*ancho se cambio el valor ya que se debe calcular el tamaño del boton por
            medio de JS aqui en css a traves de los media querys.
        */
        width: 0px;
        /*altura*/
        height: 7px;
        /*color*/
        background: #113cfc;
        /*Posicionamiento*/
        position: absolute;
        /*Posicionar el la parte de abajo del nav*/
        bottom: 0;
        /*Va a tener trnsisciones de tiempo para todas las propiedades*/
        /*Va a tener una animación*/
        transition: .3s ease-out all;
        /*para demostrar mientras va aumentando va ir cambiando*/
        /*el indicador va a ir de izquierda a derecha va a aparecer por eso es negativo*/
        /*transform: translate(-500px);*/
        /*Para ocultar el indicador en caso de que quede fuera y no se tenga seleccionado (dependiendo el disp será el error)*/
        overflow: hidden;
    }

.seccion {
    min-height: 100vh;
    max-width: 1200px;
    width: 85%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .seccion .card {
        background: #fff;
        height: 90%;
        padding: 40px;
        border-radius: 8px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .seccion h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .seccion p {
        line-height: 38px;
        margin-bottom: 20px;
        color: #494949;
        font-size: 20px;
    }

    /*ES IMPORTANTE MANEJAR LAS IMAGENES EN TIPO DE FORMA (px) ya que en (%) tiende a dejar espacios*/
    .seccion img {
        /*width: 1000px;
        height: 500px;*/
        /*vertical-align: central;*/
        width: 100%;
        vertical-align: top;
        margin-bottom: 20px;
    }

/*#region Media Querys */
/*Ayudan a mostrar las animaciones según el tamaño de la pantalla si es menor o mayor*/
/*SE REDUJO EL DE 7 A 640 (AHORA SI LO ADMITE EL S9)*/
@media screen and (max-width: 500px) {
    .nav_menu a {
        font-size: 12px;
        /*padding: 5px;*/
    }

    .seccion {
        padding-top: 0%;
    }

        .seccion h1 {
            font-size: 32px;
            /*margin-bottom: 20px;*/
        }

        .seccion p {
            line-height: 28px;
            font-size: 15px;
        }


    /*Efecto sombreado(hover) al pasar el cursor en el nav*/
    .nav_menu a:hover {
        background: #6782fa;
        /*font-size: 20px;*/
    }


    /*Color azul para linkedin*/
    /*.img-linkedin svg:hover {
        height: 100%;
        width: 75px;
        height: 75px;
        fill: #22A7F2;
    }*/

    /*Color rojo para gmail*/
    /*.img-correo svg:hover {
        height: 100%;
        width: 75px;
        height: 75px;
        fill: #ea0101;
    }*/

    /*Color verde para whatsapp*/
    /*.img-whatsapp svg:hover {
        height: 100%;
        width: 75px;
        height: 75px;
        fill: #0DC143;
    }*/

    /*Color morado para github*/
    /*.img-github svg:hover {
        height: 100%;
        width: 75px;
        height: 75px;
        fill: #5C2D91;
    }*/
}

/*@media screen and (max-width: 300px) {
    .nav_menu a {
        font-size: 8px;
        padding: 1px;
    }
    .seccion p {
        font-size: 10px;
    }
}*/

/*#endregion */


.img-linkedin, .img-correo, .img-whatsapp, .img-github {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    text-align: center;
    width: 64px;
    height: 64px;
    /*//#*/
    /*display: flex;*/
    /*padding: 0px 0px 0px 0px;*/
    /*margin-right: 50px;*/
    /*fill: currentColor;*/
    /*position: relative;*/
    /*color: #000;   */
    /*width ="64" height="64"*/
    /*display: contents;*/
    /*width: 200px;*/
    /*margin-right: 50px;*/
}

.img-center svg {
    /*Para indicarle que se va a usar flexbox*/
    display: flex;
    /*alinear el texto de forma vertical en los contenedores*/
    justify-content: center;
    /*Transición de tiempo para todas las propiedades*/
    transition: .1s ease-in-out;
    /*padding: 0;*/
    /*   margin-bottom: 5rem;*/
    /*//#*/
    /*CON FLEXBOX*/
    /*Para que todos tengan el mismo tamaño*/
    /*flex: 1;*/
    /*alto*/
    /*height: 100%;*/
    /*Para que el texto se ponga en mayúscula*/
    /*text-transform: uppercase;*/
    /*alinear el texto de forma vertical*/
    /*align-items: center;*/
    /*Todo el contenido centrado al ocupar más de 2 lineas*/
    /*text-align: center;*/
    /*Colr*/
    /*color: #000;*/
    /*Texto con negritas fuerte*/
    /*font-weight: 500;*/
}

/*Color azul para linkedin*/
.img-linkedin svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #22A7F2;
}

/*Color rojo para gmail*/
.img-correo svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #ea0101;
}

/*Color verde para whatsapp*/
.img-whatsapp svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #0DC143;
}

/*Color morado para github*/
.img-github svg:hover {
    height: 100%;
    width: 75px;
    height: 75px;
    fill: #5C2D91;
}

/*#endregion */



.footer {
    padding-top: 3rem;
    line-height: 30px;
    text-align: center;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%*/
    /*//#*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*position: absolute;*/
}

    .footer .text-copy {
        /*Separa la linea de los iconos de contacto*/
        margin-block-start: 50px;
        /*Efecto remarcado al texto*/
        text-shadow: 0 1px;
    }

    .footer .texto-gris {
        /*Color gris al texto*/
        color: grey;
        /*margin-block-end: 50px;*/
    }

/*LO QUITE YA DESPUES DE LO DE LA LINEA*/
/*.footer .img-div {*/
/* altura*/
/*height: 70px;
    }*/