/*element {
    background-image: url(img/person-paisaje.jpg);
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*Propiedad para mostrar una animación al momento de ir desde un enlace hacia una seccion*/
    scroll-behavior: smooth;
    /*Formato del texto del contenido*/
    font-family: 'Inter', sans-serif;
    /* height: 3500px; */
    /*position: absolute;*/
    /*min-height: 100%;*/
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    /*Espacio entre el contenido y el footer*/
    /*SE CAMBIO ESTA PROPIEDAD ESTABA A 100 POR ESO QUEDABA UN ESPACIO EN BLANCO 
    ABAJO DE MI FOOTER*/
    margin-bottom: 20px;
    /*Color de fondo de toda la página*/
    background: #F5F5F5;
}

header {
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    /*font-weight: 900;*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Satisfy', cursive;*/
}

/*NO SE USA*/
/*.imagen-index {
    background-image: url('~/img/person-paisaje.jpg');
}*/
/*header {*/
/*background-image: image('~/img/person-paisaje.jpg');*/
/*background-image: url('~/img/person-paisaje.jpg');*/
/*color: #FFFFFF;*/
/*}*/


/*Todos los enlaces "a" no van a tener una linea abajo o algún otro tipo*/
/*a {
    text-decoration: none;
}
*/
/*NO SE USA*/
/*body {
    background-image: url(img/person-paisaje.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #f2f2f2;
}*/

/*.imagen img{
    background-attachment: fixed;*/
/*background-size: 100% 100%;*/
/*}*/








/*NO SE USA 👇*/
/*@media screen and (max-width: 300px) {
    .nav_menu a {
        font-size: 8px;
        padding: 1px;
    }
    .seccion p {
        font-size: 10px;
    }
}*/
/*#endregion */


