/*element {
    background-image: url(img/person-paisaje.jpg);
}*/

/*Color celeste(#0EA5E9) global*/
:root {
    --colorGlobal: #0d6efd;
    /*--colorGlobal: #d35400;*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*Propiedad para mostrar una animación al momento de ir desde un enlace hacia una seccion*/
    scroll-behavior: smooth;
    /*Formato del texto del contenido*/
    font-family: 'Inter', sans-serif;
    /* height: 3500px; */
    /*position: absolute;*/
    /*min-height: 100%;*/
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    /*Espacio entre el contenido y el footer*/
    /*SE CAMBIO ESTA PROPIEDAD ESTABA A 100 POR ESO QUEDABA UN ESPACIO EN BLANCO 
    ABAJO DE MI FOOTER*/
    /*margin-bottom: 20px;*/
    /*Color de fondo de toda la página*/
    background: #F5F5F5;
}

/*Tamaño y fuente para todo el contenido dentro del header(nav y texto de escritura automatica)*/
header {
    font-family: 'Quicksand', sans-serif;
    /*font-size: 70px;*/
    /*font-size: 4.375em;*/
    /*font-weight: 900;*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Satisfy', cursive;*/
}

/*Botón flotante*/
.btn-inicio-float {
    position: fixed;
    /*bottom: 22px;*/
    bottom: 88px;
    right: 35px;
    width: 64px;
    height: 64px;
    
    color: #0d6efd;
    /*background-color: #0d6efd;*/
    opacity: 0.5;
    animation: ease-in 2s;
}

    .btn-inicio-float:hover {
        opacity: 1;
        /*fill: #fff;*/
    }
