:root {
    --colorGlobalR: #0d6efd;
    --colorSecciones: #151921;
    --colorBlanco: #fff;
}

/*ES IMPORTANTE MANEJAR LAS IMAGENES EN TIPO DE FORMA (px) ya que en (%) tiende a dejar espacios*/
/*Al momento de trabajar con img se debe asignar un id para evitar errores de concurrencia*/
/*Contenedor*/
.img-perfil {
    /*    width: 100%;*/
    /*position: center;
    margin: 20px;*/
    /*position: fixed;*/
    /*    width: 100%;*/
    width: auto;
    /*padding-bottom: 20px;*/
    /*padding: 0 60px 0;*/
}

/*Imagen*/
.img-p {
    /*width: auto;*/
    /*max-height: 100%;*/
    /*height: auto;*/
    width: 400px;
    margin: auto;
    /*Centrar*/
    display: block;
    /*border-style: groove;*/
    /*margin-bottom:20px;*/
    /*border: 1px solid black;*/
}

.titulo-sobre-mi {
    padding-top: 30px;
    padding-bottom: 20px;
}
/*.img-p:hover{
    border: 2px solid black;
}
*/
/*.contenido-perfil-card {*/
/*margin-left: 50%;*/
/*display: inline-block;
    vertical-align: top;   */
/*float: left;*/
/*display: flex;*/
/*margin-top: 50px;*/
/*padding: 0px 60px 0 60px;
}*/
/*Encabezado de las secciones*/
/*.seccion h1 {
        font-size: 48px;*/
/*font-size: 48px;*/
/*margin-bottom: 20px;*/
/*margin: 30px;*/
/*}*/
/*Parráfos de las secciones*/
/*.seccion .parrafo-perfil, .parrafo-habilidades, .parrafo-recientes {
        line-height: 38px;*/
/*margin: 20px;*/
/*color: #494949;
        font-size: 20px;
    }*/
/*    .seccion card-footer {
        padding: .5rem 1rem;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }*/
/*.card .card-proyectos-hijo {*/
/*Espacio entre el texto y la card de proyectos recientes*/
/*margin-top: 2rem;
    background-color: #e6e2e2;
    height: 90%;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 24px;
}*/
/*.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;*/
/*font-weight: 400;*/
/*line-height: 1.5;
    color: #212529;
    text-align: center;*/
/*text-decoration: none;*/
/*vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}*/
/*.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
*/
/*.seccion .card>#Perfil{
    padding: 0;
} */
.contenido-card-perfil {
    padding: 40px 60px;
    text-align: justify;
}


/*.contenido-perfil-card {*/
/*word-wrap: normal;*/
/*text-justify: auto;*/

/*}*/

/*.contenido-perfil-card .unorder-list {
        list-style: myanmar;
    }*/

/*Contenido dentro del scrooll*/
.overflow-scroll_p {
    /*Espacio entre el botón y el contenido*/
    padding-bottom: 10px;
    /*Tamaño del texto*/
    font-size: 20px;
}
/*Estilo al id de la sección perfil*/
#Perfil {
    padding-top: 100px;
    align-content: center;
    background-size: 100% 100%;
    /*background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg");*/
    /*background-image: url("../img/5.jpg");*/
    /*background-color: #4e4949;*/
    /*background-image: linear-gradient(180deg, rgb(0, 0, 0, 1), rgb(255, 255, 255, 1));*/
    background-color: var(--colorSecciones);
}
