
:root {
    /*Color de fondo de toda la página*/
    --blancoTP: white;
    --negroTP: black;
    --colorGlobal: #0d6efd;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 20px 20px 20px;
    background: var(--blancoTP);
    /*background:  #eaecee;*/
}


.navbar {
    background: var(--colorGlobal);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    height: 60px;
}

/*Color para la imagen y texto del nav*/
.navbar-brand {
    font-weight: 600;
    fill: var(--blancoTP);
    color: var(--blancoTP);
    cursor: default;
}

    .navbar-brand:hover {
        font-weight: 600;
        fill: var(--negroTP);
        color: var(--negroTP);
    }
/*Espacio entre el nav y el titulo (T M proyectos)*/
.contenido-proyectos {
    padding-top: 36px;
    font-size: 1.10em;
}

/* On mouse-over, add a deeper shadow */
.card-proyecto-hijo:hover {
    box-shadow: 0 8px 16px 2px rgb(0, 0, 0);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    /*font-size: 1.10em;*/
    font-weight: normal;
}

.card-text {
    text-align: justify;
    /*font-size: 1.10em;*/
    font-weight: normal;
}
