
@model Portafolio_Web_2023.Models.CVs_VM_Resources.CVs_Portafolio_ViewModel

<div id="ventanaModal" class="modal">
    <div class="ventana">
        @* Se le aplica el mismo diseño que al btn cerrar de la alerta *@
        <a class="closebtn" id="btn-cerrar" href="#" title="Cerrar ventana" style='text-decoration:none;'>
            &times;
        </a>

        <p class="titulo-modal">Archivos disponibles:</p>

        <form asp-controller="PortafolioW" asp-action="cv" method="post">      
            <div class="dropdown">
                @* LISTA CV DESDE EL SERVIDOR *@
                <select class="form-select" asp-items="Model.cvs_selectListItems" asp-for="CV_Seleccionado">
                    <option>Elija el archivo que desea descargar:</option>
                </select>

            </div>
            <div class="botones">
                @* PARA VOLVER LUEGO DE HACER CLICK *@
                @* <button class="btn-aceptar" onclick="history.back()">Aceptar</button> *@
                <button class="btn-aceptar">Aceptar</button>
                <a class="btn-cancelar" href="#">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@* } *@