@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* @model Portafolio_Web_2023.Models.ArchivosViewModel *@
@model IEnumerable<ArchivosViewModel>
@*
@{
    Layout = null;
}
 *@
<div id="ventanaModal" class="modal">
    <div class="ventana">
        <a class="closebtn" href="#" style='text-decoration:none;'>
            &times;
        </a>
        <p class="texto-modal">Elija el tipo de archivo que desea descargar</p>

        @*  <label class="form-label">Elija el documento que desea descargar</label>
        <select class="form-select" asp-items="Model.">

        </select>
        *@

        <select name="cars" id="cars">

            @foreach (var item in Model)
            {
                <option value="@item.Name">@item.Name</option>

            }
        </select>
        @*
        <select name="cars" id="cars">
        <option value="@Model.Id">@Model.Name</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
        </select>
        *@
        <br><br>
        <input type="submit" value="Submit">
    </div>
</div>
