
                    <!--TECNOLOGÍAS-->
                    <div class="card h-100">
                        <div class="contenido-card-habilidades">
                            <div class="texto-secciones">
                                <h1>TECNOLOGÍAS</h1>                                                                                                   
                                <p>Estas son algunas de las tecnologías con las que he trabajado.</p>
                                <div class="texto-zoom">
                                    @* <p>Click sobre una imagen</p> *@
                                    <p class="txt2">Coloque el cursor sobre una imagen</p>
                                </div>
                            </div>
                             
                            <div class="overflow-scroll_h">

                                <!--Iconos creados por Roberto Huertas del sitio https://icon-icons.com/es/-->
                                @* TECNOLOGIAS FRONTEND *@
                                <div class="columna-front">
                                    <div class="fila fila-cols-1 fila-cols-md-3">

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 html">
                                                <div class="card-img-h">
                                                    <a title="Html">
                                                        <img src="~/img/iconos-lenguajes-i-i/html_icon.svg" class="card-img-logo" alt="imagen Html" />
                                                    </a>
                                                </div>
@*                                                 <div class="card-footer-primary">
                                                    <a class="boton btn-ver-recientes" asp-area="" asp-controller="PortafolioW" asp-action="cv">Ver CV</a>
                                                </div> *@
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 css">
                                                <div class="card-img-h">
                                                    <a title="Css">
                                                        <img src="~/img/iconos-lenguajes-i-i/css_icon.svg" class="card-img-logo" alt="imagen Css" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 js">
                                                <div class="card-img-h">
                                                    <a title="JavaScript">
                                                        <img src="~/img/iconos-lenguajes-i-i/javascript.svg" class="card-img-logo menos" alt="imagen JavaScript" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div> 

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 bootstrap">
                                                <div class="card-img-h">
                                                    @* Bootstrap *@
                                                    <a title="Bootstrap">
                                                        <img src="~/img/iconos-lenguajes-i-i/bootstrap_logo_icon.svg" class="card-img-logo size-bs" alt="imagen Bootstrap" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 net">
                                                <div class="card-img-h">
                                                    <a title=".Net">
                                                        <img src="~/img/iconos-lenguajes-i-i/dot-net-core.svg" class="card-img-logo pdd-net" alt="imagen .Net" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna"> 
                                            <div class="card-habilidad-hijo h-100 csharp">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a title="CSharp">
                                                        <img src="~/img/iconos-lenguajes-i-i/csharp_original_icon.svg" class="card-img-logo" alt="imagen CSharp" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 java">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a title="Java">
                                                        <img src="~/img/iconos-lenguajes-i-i/java_logo_icon.svg" class="card-img-logo" alt="imagen Java" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 jquery">
                                                <div class="card-img-h">
                                                    <a title="Jquery">
                                                        <img src="~/img/iconos-lenguajes-i-i/jquery_original.svg" class="card-img-logo" alt="imagen Jquery" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 php">
                                                <div class="card-img-h">
                                                    <a title="Php">
                                                        <img src="~/img/iconos-lenguajes-i-i/php_icon.svg" class="card-img-logo" alt="imagen Php" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 sql">
                                                <div class="card-img-h">
                                                    <a title="Sql">
                                                        <img src="~/img/iconos-lenguajes-i-i/sql-file.svg" class="card-img-logo pdd-sql" alt="imagen Sql" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 mysql">
                                                <div class="card-img-h">
                                                    <a title="MySql">
                                                        <img src="~/img/iconos-lenguajes-i-i/mysql_logo_icon.svg" class="card-img-logo" alt="imagen MySql" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 github">
                                                <div class="card-img-h">
                                                    <a title="GitHub">
                                                        <img src="~/img/iconos-lenguajes-i-i/github_logo_icon.svg" class="card-img-logo" alt="imagen GitHub" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 git">
                                                <div class="card-img-h">
                                                    <a title="Git">
                                                        <img src="~/img/iconos-lenguajes-i-i/git_icon.svg" class="card-img-logo" alt="imagen Git" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 sendgrid">
                                                <div class="card-img-h">
                                                    <a title="SendGrid">
                                                        <img src="~/img/iconos-lenguajes-i-i/sendgrid_logo_icon_169764.svg" class="card-img-logo menos" alt="imagen SendGrid" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 devops">
                                                <div class="card-img-h">
                                                    <a title="Azure DevOps">
                                                        <img src="~/img/iconos-lenguajes-i-i/microsoft_azure_devops.svg" class="card-img-logo menos" alt="imagen SendGrid" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 vsstudio">
                                                <div class="card-img-h">
                                                    <a title="VSStudio">
                                                        <img src="~/img/iconos-lenguajes-i-i/visual_studio_icon.svg" class="card-img-logo menos" alt="imagen VSStudio" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 vscode">
                                                <div class="card-img-h">
                                                    <a title="VSCode">
                                                        <img src="~/img/iconos-lenguajes-i-i/vscode_icon.svg" class="card-img-logo menos" alt="imagen VSCode" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                @* <a class="ver-iconos" href="https://icon-icons.com/es/pack/vscode/2107" target="_blank" rel="noopener noreferrer">Ver iconos.</a> *@
                            </div>
                            @* Fuera del scroll *@
                        </div>
                    </div>