                    @* //V#53 Vistas parciales
                    <!--//V#51 Agregando nuestras habilidades-->
                    <!--Se incluyó otro div para darle un formato "sobrepuesto" y que tenga un diseño mas atractivo-->
                    *@

                    <div class="card h-100">
                        <div class="contenido-card-habilidades">
                            <div class="texto-secciones">
                                <h1>TECNOLOGÍAS</h1>
                                <p>Estas son algunas de las tecnologías con las que he trabajado.</p>
                            </div>
                            <div class="overflow-scroll_h">
                                @* TECNOLOGIAS FRONTEND *@
                                <div class="columna-front">
                                    <div class="fila fila-cols-1 fila-cols-md-3">
                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 html">
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/html" rel="noopener noreferrer" target="_blank" title="Html iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/html_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 css">
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/css" rel="noopener noreferrer" target="_blank" title="Css iconos creados por Pixel perfect - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/css_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 js">
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/javascript" rel="noopener noreferrer" target="_blank" title="Javascript iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/javascript.svg" class="card-img-logo menos" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div> 

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 bootstrap">
                                                <div class="card-img-h">
                                                    @* Bootstrap *@
                                                    <a href="https://www.flaticon.es/iconos-gratis/javascript" rel="noopener noreferrer" target="_blank" title="Javascript iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/bootstrap_logo_icon.svg" class="card-img-logo size-bs" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 net">
                                                <div class="card-img-h">
                                                    <a href="https://github.com/CarlosCode502" rel="noopener noreferrer" target="_blank" title="GitHub">
                                                        <img src="~/img/iconos-lenguajes-i-i/dot-net-core.svg" class="card-img-logo pdd-net" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna"> 
                                            <div class="card-habilidad-hijo h-100 csharp">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://github.com/CarlosCode502" rel="noopener noreferrer" target="_blank" title="GitHub">
                                                        <img src="~/img/iconos-lenguajes-i-i/csharp_original_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 java">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/java_logo_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 jquery">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/jquery_original.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 sql">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/sql-file.svg" class="card-img-logo pdd-sql" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 mysql">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/mysql_logo_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 github">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/github_logo_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 git">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/java" rel="noopener noreferrer" target="_blank" title="Java iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/git_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 vscode">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/codificacion" rel="noopener noreferrer" target="_blank" title="Codificación iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/sendgrid_logo_icon_169764.svg" class="card-img-logo menos" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 vscode">

                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/codificacion" rel="noopener noreferrer" target="_blank" title="Codificación iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/vscode_icon.svg" class="card-img-logo menos" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columna">
                                            <div class="card-habilidad-hijo h-100 php">
                                                @* <img src="" class="card-img-logo" alt="imagen logo" /> *@
                                                <div class="card-img-h">
                                                    <a href="https://www.flaticon.es/iconos-gratis/php" rel="noopener noreferrer" target="_blank" title="Php iconos creados por Freepik - Flaticon">
                                                        <img src="~/img/iconos-lenguajes-i-i/php_icon.svg" class="card-img-logo" alt="imagen logo" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>