@*
//V#53 Vistas parciales
<!--//V#51 Agregando nuestras habilidades-->
<!--Se incluyó otro div para darle un formato "sobrepuesto" y que tenga un diseño mas atractivo-->
*@

<div class="card">
    <div class="contenido-card-habilidades">
        <div class="img-perfil">
            <img class="img-p" src="~/img/undraw_profile.svg" alt="">
        </div>
        <div class="contenido-perfil-card">
            <h1>Perfil:</h1>
            <div class="overflow-scroll_p">

                <p>Desarrollador de Software con experiencia en el desarrollo de proyectos personales utilizando el lenguaje de programación C#. Apasionado por la tecnología y enfocado en la creación de soluciones innovadoras, poseo un sólido conocimiento de los fundamentos de la programación y una capacidad demostrada para diseñar y desarrollar aplicaciones eficientes con C#.</p>
                <br />
                <p>Con un enfoque en la calidad del código y el trabajo en equipo, estoy constantemente buscando oportunidades para aprender y crecer profesionalmente.</p>
                <br />
                <h3>Experiencia:</h3>
                <br />
                <ul>
                    <li><p>Diseñé, desarrollé y desplegué varios proyectos personales utilizando C#, que incluyen aplicaciones de escritorio y aplicaciones web.</p><br /></li>
                    <li><p>Colaboré con usuarios finales para comprender sus requisitos y desarrollar soluciones personalizadas que cumplieran con sus necesidades.</p><br /></li>
                    <li><p>Utilicé metodologías ágiles para la gestión de proyectos, lo que permitió la entrega oportuna y eficiente de los productos finales.</p><br /></li>
                    <li><p>Implementé buenas prácticas de desarrollo de software, como pruebas unitarias y control de versiones, para garantizar la calidad del código y facilitar el mantenimiento a largo plazo..</p><br /></li>
                    <li><p>Mantuve la documentación técnica actualizada y proporcioné soporte y mantenimiento continuos para las aplicaciones desarrolladas.</p><br /></li>
                </ul>
            </div>
        </div>
        @* Cambiado a proposito el nombre de la clase card-footers *@
        <div class="card-footer-primary">
            @* C:\Users\admin\source\repos\Portafolio_Web_2023\Portafolio_Web_2023\Portafolio_Web_2023\Views\PortafolioW\cv.cshtml *@
            <a class="boton btn-ver-recientes" asp-area="" asp-controller="PortafolioW" asp-action="cv">Ver CV</a>
        </div>
    </div>

    @*         <div class="tabla">
    <!--Front-->
    <div class="columna-frontend">

    <!--//V#52 Instalando Íconos de Boostrap-->
    <i class="bi bi-laptop"></i>

    <h3 class="negrita">Front-end</h3>

    <div class="parrafo-habilidades">
    <p>Trbajo en el enfoque UX/UI y la interfaz o accesibilidad del usuario</p>

    <p class="cabecera">Stack:</p>

    <p>Angular, Blazor y React</p>

    <p class="cabecera">
    Experiencia:
    </p>
    </div>

    <!--Unorder list-->
    <ul>
    <li>React Hooks</li>
    <li>Angular Material</li>
    <li>Blazor WASM</li>
    <li>JQuery</li>
    <li>MarkDown</li>
    <li>Boostrap</li>
    </ul>
    </div>

    <!--Back-end-->
    <div class="columna-backend">

    <!--//V#52 Instalando Íconos de Boostrap-->
    <i class="bi bi-code-slash"></i>

    <h3 class="negrita">Back-end</h3>

    <div class="parrafo-habilidades">
    <p>
    Trabajo en el desarrollo, documentación, pruebas automáticas y puesta en producción con entrega continua.
    </p>

    <p class="cabecera">
    Stack:
    </p>

    <p>
    ASP.NET Core, SQL-SERVER
    </p>

    <p class="cabecera">
    Experiencia:
    </p>
    </div>

    <!--Unorder list-->
    <ul>
    <li>Web APIs</li>
    <li>ASP.Net Core MVC</li>
    <li>Entity Framework Core</li>
    <li>Blazor</li>
    <li>Dapper</li>
    <li>Principios Solid</li>
    </ul>
    </div>
    </div>

    </div>
    @* <h1>Habilidades</h1>
    <img src="img/2.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet ante mattis, lacinia arcu nec, consequat massa. Aliquam faucibus quam eget justo posuere vehicula. Donec ac fermentum dolor, rhoncus congue sapien. Maecenas lacinia tellus nec turpis tempor pellentesque. Praesent in erat a nisl viverra dapibus. Pellentesque feugiat dolor quis sapien rutrum, sed placerat est volutpat. Curabitur sed convallis lacus, vel molestie ante. </p> *@
@*     <div class="card-footer-primary">
        <a class="boton btn-ver-recientes" asp-area="" asp-controller="PortafolioW" asp-action="habilidades">Habilidades</a>
    </div> *@ 
</div>