@*
//V#53 Vistas parciales
<!--//V#51 Agregando nuestras habilidades-->
<!--Se incluyó otro div para darle un formato "sobrepuesto" y que tenga un diseño mas atractivo-->
*@

<div class="card">
    <div class="tabla">
        <!--Front-->
        <div class="columna-frontend">

            <!--//V#52 Instalando Íconos de Boostrap-->
            <i class="bi bi-laptop"></i>

            <h3 class="negrita">Front-end</h3>

            <div class="parrafo-habilidades">
                <p>Trbajo en el enfoque UX/UI y la interfaz o accesibilidad del usuario</p>

                <p class="cabecera">Stack:</p>

                <p>Angular, Blazor y React</p>

                <p class="cabecera">
                    Experiencia:
                </p>
            </div>

            <!--Unorder list-->
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>MarkDown</li>
                <li>Boostrap</li>
            </ul>
        </div>

        <!--Back-end-->
        <div class="columna-backend">

            <!--//V#52 Instalando Íconos de Boostrap-->
            <i class="bi bi-code-slash"></i>

            <h3 class="negrita">Back-end</h3>

            <div class="parrafo-habilidades">
                <p>
                    Trabajo en el desarrollo, documentación, pruebas automáticas y puesta en producción con entrega continua.
                </p>

                <p class="cabecera">
                    Stack:
                </p>

                <p>
                    ASP.NET Core, SQL-SERVER
                </p>

                <p class="cabecera">
                    Experiencia:
                </p>
            </div>

            <!--Unorder list-->
            <ul>
                <li>Web APIs</li>
                <li>ASP.Net Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Principios Solid</li>
            </ul>
        </div>
    </div>
    @* <h1>Habilidades</h1>
    <img src="img/2.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet ante mattis, lacinia arcu nec, consequat massa. Aliquam faucibus quam eget justo posuere vehicula. Donec ac fermentum dolor, rhoncus congue sapien. Maecenas lacinia tellus nec turpis tempor pellentesque. Praesent in erat a nisl viverra dapibus. Pellentesque feugiat dolor quis sapien rutrum, sed placerat est volutpat. Curabitur sed convallis lacus, vel molestie ante. </p> *@
</div>