                    @* TODA LA DESCRIPCIÓN RELACIONADA A MI PERFIL *@

                    @* <!--//V#50 Agregando nuestra Descripción--> *@
                    @* El h-100 lo obtiene desde recientes. *@
                    <div class="card h-100">
                        <div class="contenido-card-perfil">

                            <div class="img-perfil">
                                <!--Imagen del sitio https://undraw.co/illustrations-->
                                <img class="img-p" src="~/img/undraw_profile.svg" alt="imagen-perfil.svg" title="imagen-perfil">
                            </div>
                           @*  <div class="contenido-perfil-card"> *@
                                <div class="texto-secciones">
                                    <h1>Sobre mí:</h1>
                                
                                    <div class="overflow-scroll_p">
                                        @* <h4>Soy un desarrollador junior .Net con gran entusiasmo y ganas de aprender</h4> *@
                                        @* <p>Desarrollador de Software con experiencia en el desarrollo de proyectos personales utilizando el lenguaje de programación C#. Apasionado por la tecnología y enfocado en la creación de soluciones innovadoras, poseo un sólido conocimiento de los fundamentos de la programación y una capacidad demostrada para diseñar y desarrollar aplicaciones eficientes con C#.</p> *@
                                        <p>Mi nombre es <strong>Carlos Herrera</strong>, tengo <strong>23 años</strong> y cuento con pénsum cerrado en <strong>Ingeniería en Sistemas</strong>, poseo más de 2 años de experiencia en labores de programación, análisis y desarrollo de sistemas.</p>
                                        <br />
                                        <p>Mi enfoque se centra en la resolución de problemas, construcción de software eficiente de alta calidad y en la mejora continua de mis habilidades técnicas. A pesar de mi relativa falta de experiencia profesional, he tenido la oportunidad de trabajar en proyectos personales que me han permitido desarrollar habilidades en distintos lenguajes y tecnologías.  </p>
                                        <br />
                                        <p>Valoro la colaboración y el trabajo en equipo, y estoy comprometido a contribuir al éxito de los proyectos en los que participo. Mi objetivo a corto plazo es seguir aprendiendo y creciendo como desarrollador, adquiriendo experiencia en nuevas tecnologías y metodologías de desarrollo.</p>
                                        @* <p>Con un enfoque en la calidad del código y el trabajo en equipo, estoy constantemente buscando oportunidades para aprender y crecer profesionalmente.</p>
                                        <br />

                                        <h3>Experiencia:</h3>
                                        <div class="unorder-list">
                                        <ul>
                                            <li><p>Diseñé, desarrollé y desplegué varios proyectos personales utilizando C#, que incluyen aplicaciones de escritorio y aplicaciones web.</p><br /></li>
                                            <li><p>Colaboré con usuarios finales para comprender sus requisitos y desarrollar soluciones personalizadas que cumplieran con sus necesidades.</p><br /></li>
                                            <li><p>Utilicé metodologías ágiles para la gestión de proyectos, lo que permitió la entrega oportuna y eficiente de los productos finales.</p><br /></li>
                                            <li><p>Implementé buenas prácticas de desarrollo de software, como pruebas unitarias y control de versiones, para garantizar la calidad del código y facilitar el mantenimiento a largo plazo..</p><br /></li>
                                            <li><p>Mantuve la documentación técnica actualizada y proporcioné soporte y mantenimiento continuos para las aplicaciones desarrolladas.</p><br /></li>
                                        </ul>
                                        </div> *@
                                    </div>
                                </div>
                            @* </div> *@
                            @* Cambiado a proposito el nombre de la clase card-footers *@
                            <div class="card-footer-primary">
                                <ul class="menu">
                                    <li>
                                        <a class="btn-secciones btn-pdd-perfil" asp-area="" asp-controller="PortafolioW" asp-action="cv">
                                            Ver CV
                                            <span class="border border-top"></span>
                                            <span class="border border-right"></span>
                                            <span class="border border-bottom"></span>
                                            <span class="border border-left"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>