@* TODA LA DESCRIPCIÓN RELACIONADA A MI PERFIL *@

@* <!--//V#50 Agregando nuestra Descripción--> *@
@* El h-100 lo obtiene desde recientes. *@
<div class="card h-100">
    <div class="contenido-card-perfil"></div>

    <div class="img-perfil">
        <img class="img-p" src="~/img/undraw_profile.svg" alt="">
    </div>
    <div class="contenido-perfil-card">


        <h1>Perfil:</h1>
        <div class="overflow-scroll_p">
            @* <h4>Soy un desarrollador junior .Net con gran entusiasmo y ganas de aprender</h4> *@
            <p>Desarrollador de Software con experiencia en el desarrollo de proyectos personales utilizando el lenguaje de programación C#. Apasionado por la tecnología y enfocado en la creación de soluciones innovadoras, poseo un sólido conocimiento de los fundamentos de la programación y una capacidad demostrada para diseñar y desarrollar aplicaciones eficientes con C#.</p>
            <br />
            <p>Con un enfoque en la calidad del código y el trabajo en equipo, estoy constantemente buscando oportunidades para aprender y crecer profesionalmente.</p>
            <br />
            <h3>Experiencia:</h3>
            <br />
            <ul>
                <li><p>Diseñé, desarrollé y desplegué varios proyectos personales utilizando C#, que incluyen aplicaciones de escritorio y aplicaciones web.</p><br /></li>
                <li><p>Colaboré con usuarios finales para comprender sus requisitos y desarrollar soluciones personalizadas que cumplieran con sus necesidades.</p><br /></li>
                <li><p>Utilicé metodologías ágiles para la gestión de proyectos, lo que permitió la entrega oportuna y eficiente de los productos finales.</p><br /></li>
                <li><p>Implementé buenas prácticas de desarrollo de software, como pruebas unitarias y control de versiones, para garantizar la calidad del código y facilitar el mantenimiento a largo plazo..</p><br /></li>
                <li><p>Mantuve la documentación técnica actualizada y proporcioné soporte y mantenimiento continuos para las aplicaciones desarrolladas.</p><br /></li>
            </ul>
        </div>
    </div>
    @* Cambiado a proposito el nombre de la clase card-footers *@
    <div class="card-footer-primary">
        @* C:\Users\admin\source\repos\Portafolio_Web_2023\Portafolio_Web_2023\Portafolio_Web_2023\Views\PortafolioW\cv.cshtml *@
        <a class="boton btn-ver-recientes" asp-area="" asp-controller="PortafolioW" asp-action="cv">Ver CV</a>
    </div>

</div>