
                    <!--SOBRE MÍ-->
                    <div class="card h-100">
                        <div class="contenido-card-perfil">

                            <div class="img-perfil">
                                <!--Imagen del sitio https://undraw.co/illustrations-->
                                <img class="img-p" src="~/img/undraw_profile.svg" alt="imagen-perfil.svg" title="imagen-perfil.svg">
                            </div>
                                <div class="texto-secciones">
                                    <h1>Sobre mí:</h1>                                
                                    <div class="overflow-scroll_p">
                                        @* <h4>Soy un desarrollador junior .Net con gran entusiasmo y ganas de aprender</h4> *@
                                        @* <p>Desarrollador de Software con experiencia en el desarrollo de proyectos personales utilizando el lenguaje de programación C#. Apasionado por la tecnología y enfocado en la creación de soluciones innovadoras, poseo un sólido conocimiento de los fundamentos de la programación y una capacidad demostrada para diseñar y desarrollar aplicaciones eficientes con C#.</p> *@
                                        
                                        <br />
                                        <p>He tenido la oportunidad de trabajar en distintos proyectos que me han permitido poner a prueba mis habilidades tanto en backend como frontend, aunque mi área favorita es el backend haciendo uso de c# como lenguaje principal. Mi enfoque se centra en la resolución de problemas, construcción de software eficiente de alta calidad y en la mejora continua de mis habilidades técnicas. </p>
                                        <br />
                                        <p>Valoro la colaboración y el trabajo en equipo, y estoy comprometido a contribuir al éxito de los proyectos en los que participo. Mi objetivo a corto plazo es seguir aprendiendo y creciendo como desarrollador, adquiriendo experiencia en nuevas tecnologías y metodologías de desarrollo.</p>                                       
                                    </div>
                                </div>

                            <div class="card-footer-primary">
                                <ul class="menu">
                                    <li>
                                        <!--BOTÓN VER CV-->
                                        <a class="btn-secciones btn-pdd-perfil" asp-area="" asp-controller="PortafolioW" asp-action="cv">
                                            Ver CV
                                            <span class="border border-top"></span>
                                            <span class="border border-right"></span>
                                            <span class="border border-bottom"></span>
                                            <span class="border border-left"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>