@* TODA LA DESCRIPCIÓN RELACIONADA A MI PERFIL *@

@* <!--//V#50 Agregando nuestra Descripción--> *@
<div class="card">
    <h1>Perfil:</h1>
    @* <img src="img/1.jpg" alt=""> *@
    <h4>Soy un desarrollador junior .Net con gran entusiasmo y ganas de aprender</h4>
    <p class="parrafo-perfil">
        Tengo pensum cerrado en Ingenieria en Sistemas, he desarrollado sistemas propios como forma de
        practica, asi como por motivos academicos, algunos lenguajes de programación y de etiquetas con
        los que he trabajado son: C#, Java, C++, JS, PHP, HTML, CSS, BOOSTRAP. Tambien con distintos IDES.
    </p>
</div>