@*   <!--//V#55 Pasando datos a una vista parcial--> *@
@model IEnumerable<ProyectoViewModel>
@*
Al momento de tener declarado el modelo en la vista y luego declarar la vista parcial es suficiente
para poder acceder a los datos, sin embargo esto no es del todo correcto ya que se sufre el riesgo de
equivocacion al momento de acceder a las propiedades del modelo, debido a que este pasa de ser
fuertemente tipado(muestra error si se ecribe mal) a ser no tipado o de un tipo de dato accesible pero
se corre el riesgo de un fallo(de tipo "Dynamic").

AQUI ES DONDE SE USA EL modelo "IEnumerable<ProyectoViewModel>?" ya que este ya contiene un modelo al que es posible
acceder solo con "Model"
<!--//V#54 Listado de Proyectos--> *@
@if (Model is not null)
{
<div class="card h-100">
                        <div class="contenido-card-recientes">
                            <h1>Mis trabajos recientes</h1>
                            <p class="titulo-recientes">Aquí se muestrán algunos de mís trabajos más recientes.</p>

                            <div class="overflow-scroll_r">                        
                                <partial name="PartialViews\_TodosMisProyectos_PV" model="Model" />
                            </div>
                                    
                            <div class="card-footer-primary">
                                <ul class="menu">
                                    <li>
                                        <a class="btn-secciones btn-pdd-recientes" target="_blank" asp-area="" asp-controller="PortafolioW" asp-action="Proyectos">
                                            Ver todos los proyectos
                                            <span class="border border-top"></span>
                                            <span class="border border-right"></span>
                                            <span class="border border-bottom"></span>
                                            <span class="border border-left"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
}