@*   <!--//V#55 Pasando datos a una vista parcial--> *@
@model IEnumerable<ProyectoViewModel>
@if (Model is not null)
{


<!--MIS ÚLTIMOS PROYECTOS-->
                    <div class="card h-100">                        
                        <div class="contenido-card-recientes">
                            <div class="texto-secciones">
                                <h1>Mis trabajos recientes</h1>
                                <p>Aquí se muestrán algunos de mís trabajos más recientes.</p>
                            </div>

                            <div class="overflow-scroll_r">                        
                                <partial name="PartialViews\_TodosMisProyectos_PV" model="Model" />
                            </div>
                                    
                            <div class="card-footer-primary">
                                <ul class="menu">
                                    <li>
                                        <!--BOTÓN VER TODOS LOS PROYECTOS-->
                                        <a class="btn-secciones btn-pdd-recientes" asp-area="" asp-controller="PortafolioW" asp-action="Proyectos">
                                            Ver todos los proyectos
                                            <span class="border border-top"></span>
                                            <span class="border border-right"></span>
                                            <span class="border border-bottom"></span>
                                            <span class="border border-left"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
}