@model Portafolio_Web_2023.Models.ContactoViewModel

@{
    ViewData["Title"] = "Contacto - ";
    // Layout = null;

    Layout = "~/Views/Shared/_Layout_Contacto.cshtml";
}

<div class="text-center">
    @* style="width:300px;height:128px; *@
    @* Imagen obtenida de: https://undraw.co/illustrations *@
    <img class="img-fluid img-center mb-sm-3 mb-md-2 mb-lg-4" src="~/img/undraw_group_chat.svg" alt="undraw_group_chat.svg" title="chat grupal.svg" style="width:300px;" />

    <h1 class="card-title text-uppercase mb-sm-2 mb-md-3 mb-lg-4">Envíeme un correo</h1>
    @*     @Html.ValidationSummary *@
    <div class="row justify-content-center mt-sm-1 mt-md-2 mt-lg-3">
        <div class=" col-sm-6 col-md-9 col-lg-12">
            <form asp-action="Contacto" class="fw-bolder">
                @* <asp-route-returnurl="@ViewData["Index"]"></asp-route-returnurl> *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-sm-2 mb-md-3 mb-lg-4">
                    <label asp-for="Nombre" class="control-label fw-bold mb-sm-1 mb-md-2 mb-lg-3"></label>
                    <input asp-for="Nombre" class="form-control fw-normal mb-2 mb-sm-2 mb-md-2 mb-lg-2" placeholder="Ingrese su nombre." />
                    <span asp-validation-for="Nombre" class="text-danger fw-light mb-2 mb-sm-2 mb-md-2 mb-lg-2"></span>
                </div>
                <div class="form-group mb-sm-2 mb-md-3 mb-lg-4">
                    <label asp-for="Email" class="control-label fw-bold mb-sm-1 mb-md-2 mb-lg-3"></label>
                    <input asp-for="Email" class="form-control fw-normal mb-2 mb-sm-2 mb-md-2 mb-lg-2" placeholder="correo@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger fw-light mb-2 mb-sm-2 mb-md-2 mb-lg-2"></span>
                </div>

                @* <script>
                    if( $('.micheckbox').prop('checked') ) {
    alert('Seleccionado');
}
                </script> *@

   @*              <div class="form-check text-start fw-light">
                    <input class="form-check-input " type="checkbox" value="" id="validar" />
                    <label class="form-check-label" for="validar">comparar correo.</label>
                </div> *@
@* 
                @{
                    var cb = ".form-check";
                    // bool seleccionado = Html.CheckBox(s );
                    if (cb == true)
                    {

                    }
                } *@

                <div class="form-group mb-sm-2 mb-md-3 mb-lg-4">
                    <label asp-for="ConfirmarEmail" class="control-label fw-bold mb-sm-1 mb-md-2 mb-lg-3"></label>
                    <input asp-for="ConfirmarEmail" class="form-control fw-normal mb-2 mb-sm-2 mb-md-2 mb-lg-2" placeholder="correo@gmail.com" />
                    <span asp-validation-for="ConfirmarEmail" class="text-danger fw-light mb-2 mb-sm-2 mb-md-2 mb-lg-2"></span>
                </div>
                <div class="form-group mb-sm-2 mb-md-3 mb-lg-4">
                    <label asp-for="Mensaje" class="control-label fw-bold mb-sm-1 mb-md-2 mb-lg-3"></label>
                    <textarea asp-for="Mensaje" class="form-control fw-normal mb-2 mb-sm-2 mb-md-2 mb-lg-2" placeholder="Escriba su mensaje."></textarea>
                    <span asp-validation-for="Mensaje" class="text-danger fw-light mb-2 mb-sm-2 mb-md-2 mb-lg-2"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@* <div>
    <a asp-action="Gracias" asp-controller="PortafolioW">IR a gracias</a>
</div>
 *@
@* Lo que debía escribir *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@* Lo que escribí *@
@* @section Scripts{
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
} *@

@* <script Scripts>
    Scripts
</script> *@

@* <div class="pt-5">
    <h1>Formulario de Contacto</h1>
    <form asp-area="" asp-controller="PortafolioW" asp-action="Contacto">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            @* Básicamente se crea un label y un txtbox para ingreso de nombre (el for=nombre apunta el id al momento de hacer clic en este)
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba aquí su nombre." />

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" />
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div> *@


@* <div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
