@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " Mi CV - ";
    Layout = "~/Views/Shared/_Layout_cv.cshtml";
}

<div class="cv-estructura" id="cv">

    <div class="titulo">
        <p>Carlos Herrera</p>
    </div>
    <div class="subtitulo">
        <p>Desarrollador .Net JR</p>
    </div>

    @*     <div class="cont-contacto">
    <p>Contacto:</p>
    </div> *@

    <div class="contacto" id="contacto-padre" title="Contactame por:">
        @* Icono de linedin *@
        @* El atributo rel coloca la relación entre tu página y el URL enlazado.  Posicionando en este noopener noreferrer para prevenir el tipo de phishing conocido como tabnabbing. *@
        <a onmouseenter="child_hover0(this)" onmouseout="child_exit0(this)" href="https://linkedin.com/in/-herrera-code502" class="linkedin" target="_blank" rel="noopener noreferrer">
            Linkedin
        </a>
        @* Icono de correo *@
        <a onmouseenter="child_hover1(this)" onmouseout="child_exit1(this)" asp-action="Contacto" class="gmail">
            Gmail
        </a>
        @* Icono mapa *@
        <a onmouseenter="child_hover2(this)" onmouseout="child_exit2(this)" href="https://maps.app.goo.gl/Qzxpjh4dUsZcMwM6" class="mapa" target="_blank" rel="noopener noreferrer">
            Ubicación
        </a>
        @* Icono de teléfono *@
        <a onmouseenter="child_hover3(this)" onmouseout="child_exit3(this)" href="https://wa.me/42466067" class="phone" target="_blank" rel="noopener noreferrer">
            WhatsApp
        </a>
        @* Icono de github *@
        <a onmouseenter="child_hover4(this)" onmouseout="child_exit4(this)" href="https://github.com/Code502" class="github" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>
    </div>

    <div class="descripcion-perfil">
        @* <p>Soy un apasionado desarrollador junior con una sólida base en programación y un deseo enorme de crecer y aprender en la industria de la tecnología. Desde que di mis primeros pasos en la programación, he sentido una fascinación constante por la forma en que el código puede dar vida a ideas y soluciones innovadoras.</p> *@
        <p>Tengo 2 años de experiencia en programación, análisis y desarrollo de sistemas. Mi enfoque se centra en resolver problemas, construir software eficiente de alta calidad y mejorar constantemente mis habilidades técnicas. Valoro la colaboración y el trabajo en equipo, y estoy comprometido a contribuir al éxito de los proyectos en los que participo.</p>
    </div>

    <div class="seccion-expreriencia">
        @* Este span va a servir luego para el diseño de las secciones *@
        <div class="bloque-izquierdo-1"></div>
        <hr />
        <div class="titulo-seccion">
            <p>Experiencia:</p>
        </div>


        @* AQUI VOY A PONER MI EXPERIENCIA QUE VOY A TRAER DE UN FOR *@

        <div class="exp-d-1">
            <div class="titulo-exp">
                <p>Desarrollador Junior Independiente</p>
                <p class="fechas">2022 - Actualmente</p>
            </div>
            <div class="subtitulo-exp">
                <p>Profesional Independiente</p>
            </div>
            <div class="descripcion-exp">
                <p>Desarrollo de distintos sistemas web, escritorio y móvil utilizando patrones de diseño, principios de buenas prácticas haciendo uso de distintos softwares y tecnologías.</p>
                @* <ul>
                <li>Desarrollo de sistemas web, escritorio y móvil.</li>
                <li>Patrones de diseño.</li>
                <li>Principios de buenas prácticas.</li>
                <li>Pruebas unitarias.</li>
                </ul> *@
            </div>
            @*             <ul>
            <li>Diseñe un sitio para evitar vulnerabilidades al sistema de la nasa.</li>
            <li>El sitio fue diseñado en una tecnología de nivel cecreto.</li>
            <li>Con ayuda de un marciano implementamos tecnología pérdida</li>
            <li>Dos veces condecorado</li>
            </ul> *@
        </div>

        <div class="exp-d-2">
            <div class="titulo-exp">
                <p>Desarrollador Android</p>
                <p class="fechas">2021/09 - 2021/11</p>
            </div>
            <div class="subtitulo-exp">
                <p>Asilo de Ancianos San Vicente de Paúl</p>
            </div>
            <div class="descripcion-exp">
                <p>Desarrollo de una aplicación Android para el monitoreo de una cámara de videovigilancia ip de un módulo ESP32-Cam conectado a través de una red LAN.</p>
            </div>
        </div>

        @* <div class="exp-d-3">
        <div class="titulo-exp">
        <p>Desarrollador Android</p>
        <p class="fechas">2021/09 - 2021/11</p>
        </div>
        <div class="subtitulo-exp">
        <p>Asilo de Ancianos San Vicente de Paúl</p>
        </div>
        <div class="descripcion-exp">
        <p>Desarrollo de una aplicación Android para el monitoreo de una camara de videovigilancia ip de un módilo ESP32-Cam conectado a través de una red LAN.</p>
        </div>
        </div> *@
    </div>

    <div class="seccion-educacion">
        @* Este span va a servir luego para el diseño de las secciones *@
        <div class="bloque-izquierdo-1"></div>
        <hr />
        <div class="titulo-seccion">
            <p>Educación:</p>
        </div>

        @* AQUI PONGO MI EDUCACIÓN *@
        <div class="edu-d-1">
            <div class="titulo-exp">
                <p>Universidad"</p>
                <p class="fechas">2018 - 2021</p>
            </div>
            <ul>
                <li>Ingeniería en Sistemas.</li>
            </ul>
        </div>

        <div class="edu-d-2">
            <div class="titulo-exp">
                <p>Colegio privado</p>
                <p class="fechas">2016 - 2017</p>
            </div>
            <ul>
                <li>Bachiller.</li>
            </ul>
        </div>
    </div>

    <div class="seccion-idiomas">
        @* Este span va a servir luego para el diseño de las secciones *@
        <div class="bloque-izquierdo-1"></div>
        <hr />
        <div class="titulo-seccion">
            <p>Idiomas:</p>
        </div>

        @* AQUI PONGO MI EDUCACIÓN *@
        <div class="edu-d-1">
            <div class="titulo-exp">
                <ul>
                    <li><b class="negrita">Español: </b>Nativo.</li>
                </ul>
                @* <p class="fechas">2018 - 2021</p> *@
            </div>
        </div>

        <div class="edu-d-2">
            <div class="titulo-exp">
                <ul>
                    <li><b class="negrita">Inglés: </b>Básico(A2).</li>
                </ul>
                @* <p class="fechas">2018 - 2021</p> *@
            </div>
        </div>

    </div>

    @* AQUI VAN LAS TECNOLOGÍAS QUE MANEJO *@
    <div class="seccion-tecnologias">
        @* Este span va a servir luego para el diseño de las secciones *@
        <div class="bloque-izquierdo-1"></div>
        <hr />
        <div class="titulo-seccion">
            <p>Tecnologías</p>
        </div>

        <div class="texto-columnas tec">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li>BOOTSTRAP</li>
                <li>JQUERY</li>
                <li>JAVA</li>
                <li>PHP</li>
                <li>.NET</li>
                <li>C#</li>
                <li>SQL</li>
                <li>MYSQL</li>
                <li>SENDGRID</li>
            </ul>
        </div>
    </div>
</div>
