@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gracias - ";
    // Layout = null;
    Layout = "~/Views/Shared/_Layout_Contacto.cshtml";
}

            @* pantallas muy pequeñas (mt-0) *@
            <div class="text-center  mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
                <img class="img-fluid " src="~/img/undraw_message.svg" title="Gracias" width="600" />

                @* pantallas muy pequeñas (mt-4) *@
                <div class="text-body text-wrap fs-2 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
                    <p class="fw-lighter">Gracias por ponerse en contacto conmigo.</p>
                    <p class="fw-bolder">¡Responderé a su mensaje lo más pronto posible!</p>
                    <p>😃</p>
                </div>
            </div>