
@{
    ViewData["Title"] = "Gracias - ";
    // Layout = null;
    Layout = "~/Views/Shared/_Layout_Contacto.cshtml";
}
            @* pantallas muy pequeñas (mt-0) *@
<div class="text-center  mt-3 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
                @* Imagen obtenida de: https://undraw.co/illustrations *@
                <img class="img-fluid bg-white img-gracias" src="~/img/undraw_message.svg" alt="undraw_message.svg" title="Gracias.svg"/>

                @* pantallas muy pequeñas (mt-4) *@
                <div class="text-body text-wrap fs-2 mt-4 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
                    <p class="fw-normal">Gracias por ponerse en contacto conmigo.</p>
                    <p class="texto-parpadear fw-bolder">¡Responderé lo más pronto posible!</p>
                    <p style="cursor: pointer" title="Happy">😃</p>
                </div>
            </div>