@model PortafolioIndexViewModel

@{
    ViewData["Title"] = "Inicio";
}
            <div class="secciones">
                <div class="seccion" id="Proyectos_recientes">

                    <partial name="PartialViews\_ProyectosRecientes_PV.cshtml" model="Model.Proyectos" />
                </div>

                <div class="seccion" id="Habilidades">
                    <partial name="PartialViews\_Habilidades_PV.cshtml" />
                </div>

                <div class="seccion" id="Perfil">
                    <partial name="PartialViews\_Perfil_PV.cshtml" />
                </div>
            </div>