@* @{
    ViewData["Title"] = "Inicio";
}
 *@
<div class="secciones">
	<div class="seccion" id="Perfil">		
		<partial name="PartialViews\_Perfil_PV.cshtml" />
	</div>

	<div class="seccion" id="Habilidades">
		<partial name="PartialViews\_Habilidades_PV.cshtml" />
	</div>

	<div class="seccion" id="Proyectos_recientes">
		<div class="card">
			<h1>Proyectos recientes</h1>
			<img src="img/3.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet ante mattis, lacinia arcu nec, consequat massa. Aliquam faucibus quam eget justo posuere vehicula. Donec ac fermentum dolor, rhoncus congue sapien. Maecenas lacinia tellus nec turpis tempor pellentesque. Praesent in erat a nisl viverra dapibus. Pellentesque feugiat dolor quis sapien rutrum, sed placerat est volutpat. Curabitur sed convallis lacus, vel molestie ante. </p>
		</div>
	</div>
</div>


