@*
    //V#62 Creando una Nueva Vista - Mostrando todos los proyectos.
*@
@{
    ViewData["Title"] = " Mis proyectos - ";
    Layout = "~/Views/Shared/_Layout_Proyectos.cshtml";
    // Html.act
    // // Como como esta vista es independiente y no contendra un layout
    // // se cambia su Layout = null;
    // Layout = null;
}

@* Aún no existe este estilo css *@
<div class="contenido-proyectos">
    <h1 class="title">Todos mis proyectos</h1>
    <p class="contenido">Aquí encontrarás todos los proyectos en los que he trabajado.</p>
</div>

@* <div class="contenido-tarjetas"> *@
<partial name="PartialViews/_TodosMisProyectos_PV.cshtml" />
@* </div> *@


