
@{
    ViewData["Title"] = " Mis proyectos - ";
    Layout = "~/Views/Shared/_Layout_Proyectos.cshtml";
}

<div class="contenido-proyectos mb-3 mb-sm-4">
                    <h1 class="title text-uppercase">Todos mis proyectos</h1>
                    <p class="contenido">Aquí encontrarás todos los proyectos en los que he trabajado.</p>
                </div>

<partial name="PartialViews/_TodosMisProyectos_PV.cshtml" />