<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Portafolio Web 2023</title>
    @* Bootstrap *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
    @* CSS *@
    <link rel="stylesheet" href="~/css/cv.css" asp-append-version="true" />
    <!--//V#52 Instalando íconos de Boostrap-->
    <!--Lo encontramos en la pag de boostrap en el apartado de descargas-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        @* <input type="checkbox" id="cerrar"/>
        <label for="cerrar" id="btn-cerrar">X</label>
        <div class="modal">
            <div class="contenido-modal">
                <h1><strong>Atención:</strong></h1>
                <p>Mi CV se esta mostrando como representación a un documento, toda la estructura esta hecha a través de html y css.</p>
                <p>Si desea descargar mi CV en pdf puede hacer clic en el botón flotante al fondo.</p>
                <div class="btn-aceptar">
                    <button type="button">Aceptar</button>
                </div>
            </div>            
        </div> *@
    </header>

    <div class="container pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>

    <script src="~/js/cv_contacto.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>