<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*  ¿Cómo podemos impedir que los navegadores móviles escalen nuestros sitios y los miniaturicen? La solución
    es una nueva etiqueta meta cuyo name es “viewport”, que solo es aplicada por dispositivos móviles y es
    ignorada en computadoras de escritorio. *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Portafolio Web 2023</title>
    @* Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    @* CSS *@
    <link rel="stylesheet" href="~/css/tarjeta_proyectos.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/mediaquerys.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/contacto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media-movil-small.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/media-movil-md.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/media-tablet.css" asp-append-version="true">

</head>
<body>
    <header>
        <nav class="navbar fixed-top bg-opacity-10">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="PortafolioW" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" class="bi bi-arrow-left d-inline-block align-text-top" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Regresar al Inicio
                </a>
            </div>
        </nav>
    </header>

    <div class="container pt-5">
        <main role="main" class="pt-5">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>